In [ ]:
{
 "cells": [
  {
   "cell_type": "markdown",
   "id": "d70b4bb9",
   "metadata": {},
   "source": [
    "*Creado por:*\n",
    "\n",
    "*Isabel Maniega*"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 1,
   "id": "2cf1bb2c",
   "metadata": {},
   "outputs": [],
   "source": [
    "# pip install seaborn"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 2,
   "id": "90160ee4",
   "metadata": {},
   "outputs": [],
   "source": [
    "import pandas as pd\n",
    "import numpy as np\n",
    "\n",
    "# Gráficos\n",
    "# =============================================================\n",
    "import matplotlib.pyplot as plt\n",
    "import seaborn as sns"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "abd906f6",
   "metadata": {},
   "source": [
    "# Ejemplo 1: Notas"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 3,
   "id": "4bf2b83d",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>notas_1</th>\n",
       "      <th>notas_2</th>\n",
       "      <th>notas_3</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>15</td>\n",
       "      <td>16</td>\n",
       "      <td>17</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>16</td>\n",
       "      <td>21</td>\n",
       "      <td>22</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>15</td>\n",
       "      <td>16</td>\n",
       "      <td>15</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>17</td>\n",
       "      <td>16</td>\n",
       "      <td>22</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>14</td>\n",
       "      <td>13</td>\n",
       "      <td>14</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "   notas_1  notas_2  notas_3\n",
       "0       15       16       17\n",
       "1       16       21       22\n",
       "2       15       16       15\n",
       "3       17       16       22\n",
       "4       14       13       14"
      ]
     },
     "execution_count": 3,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df = pd.DataFrame({\"notas_1\": [15,16,15,17,14,14,14,10,15,25], \"notas_2\": [16,21,16,16,13,15,15,19,22,15], \n",
    "                   \"notas_3\":[17,22,15,22,14,15,16,15,24,16]})\n",
    "df.head()"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "fef2f487",
   "metadata": {},
   "source": [
    "# Variabilidad"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "b4e3bc4f",
   "metadata": {},
   "source": [
    "### Desviación estándar"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "ae32fa74",
   "metadata": {},
   "source": [
    "Calculamos la desviación estandar de los datos:"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "55c165a2",
   "metadata": {},
   "source": [
    "Delta Degrees of Freedom --> ddof\n",
    "\n",
    "https://stackoverflow.com/questions/41204400/what-is-the-difference-between-numpy-var-and-statistics-variance-in-python"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 4,
   "id": "db5d0c19",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "3.6124783736376886"
      ]
     },
     "execution_count": 4,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "std_1 = df[\"notas_1\"].std(ddof=0)\n",
    "std_1"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 5,
   "id": "9b439f3a",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "2.749545416973504"
      ]
     },
     "execution_count": 5,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "std_2 = df[\"notas_2\"].std(ddof=0)\n",
    "std_2"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 6,
   "id": "bbbe3afe",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "3.4409301068170506"
      ]
     },
     "execution_count": 6,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "std_3 = df[\"notas_3\"].std(ddof=0)\n",
    "std_3"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "527bf122",
   "metadata": {},
   "source": [
    "### Varianza"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 7,
   "id": "e0fd7b38",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "13.05"
      ]
     },
     "execution_count": 7,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "varianza_1 = df[\"notas_1\"].var(ddof=0)\n",
    "varianza_1"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 8,
   "id": "7ee4c7fb",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "7.56"
      ]
     },
     "execution_count": 8,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "varianza_2 = df[\"notas_2\"].var(ddof=0)\n",
    "varianza_2"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 9,
   "id": "b768b267",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "11.84"
      ]
     },
     "execution_count": 9,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "varianza_3 = df[\"notas_3\"].var(ddof=0)\n",
    "varianza_3"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "82d8533c",
   "metadata": {},
   "source": [
    "## Rango Intercuartílico o IQR"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "e99464da",
   "metadata": {},
   "source": [
    "Como calcular la IQR de las distintas notas:"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 10,
   "id": "ad297747",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "IQR de las notas 1: 1.75, rango: 15\n"
     ]
    }
   ],
   "source": [
    "rango_1 = df[\"notas_1\"].max() - df[\"notas_1\"].min()\n",
    "iqr_1 = df[\"notas_1\"].quantile(0.75) - df[\"notas_1\"].quantile(0.25)\n",
    "print(f\"IQR de las notas 1: {iqr_1}, rango: {rango_1}\")"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 11,
   "id": "c5676b2a",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "IQR de las notas 2: 3.25, rango: 9\n"
     ]
    }
   ],
   "source": [
    "rango_2 = df[\"notas_2\"].max() - df[\"notas_2\"].min()\n",
    "iqr_2 = df[\"notas_2\"].quantile(0.75) - df[\"notas_2\"].quantile(0.25)\n",
    "print(f\"IQR de las notas 2: {iqr_2}, rango: {rango_2}\")"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 12,
   "id": "454b17e0",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "IQR de las notas 3: 5.75, rango: 10\n"
     ]
    }
   ],
   "source": [
    "rango_3 = df[\"notas_3\"].max() - df[\"notas_3\"].min()\n",
    "iqr_3 = df[\"notas_3\"].quantile(0.75) - df[\"notas_3\"].quantile(0.25)\n",
    "print(f\"IQR de las notas 3: {iqr_3}, rango: {rango_3}\")"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "722bbe82",
   "metadata": {},
   "source": [
    "## Finding Outliers"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "7897a155",
   "metadata": {},
   "source": [
    " * **Notas 1:**"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "8933173b",
   "metadata": {},
   "source": [
    "--> Superiores:"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 13,
   "id": "6e751f96",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "18.375\n"
     ]
    }
   ],
   "source": [
    "superiores_1 = df[\"notas_1\"].quantile(0.75) + 1.5 * iqr_1\n",
    "print(superiores_1)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 14,
   "id": "33764f95",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "0    15\n",
       "1    16\n",
       "2    15\n",
       "3    17\n",
       "4    14\n",
       "5    14\n",
       "6    14\n",
       "7    10\n",
       "8    15\n",
       "9    25\n",
       "Name: notas_1, dtype: int64"
      ]
     },
     "execution_count": 14,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df.notas_1"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "6e901343",
   "metadata": {},
   "source": [
    "Todos los valores superiores a 18.375 son outliers, en nuestro caso es el valor 25."
   ]
  },
  {
   "cell_type": "markdown",
   "id": "96f88e28",
   "metadata": {},
   "source": [
    "--> Inferiores"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 15,
   "id": "9711c262",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "11.375"
      ]
     },
     "execution_count": 15,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "inferiores_1 = df[\"notas_1\"].quantile(0.25) - 1.5 * iqr_1\n",
    "inferiores_1"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "431c276f",
   "metadata": {},
   "source": [
    "Todos los valores inferiores a 11.375 son considerados outliers, en este caso el valor 10."
   ]
  },
  {
   "cell_type": "markdown",
   "id": "0d88f2f7",
   "metadata": {},
   "source": [
    " * **Notas 2:**"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "622905e0",
   "metadata": {},
   "source": [
    "--> Superiores:"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 16,
   "id": "fa3a16f4",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "23.125\n"
     ]
    }
   ],
   "source": [
    "superiores_2 = df[\"notas_2\"].quantile(0.75) + 1.5 * iqr_2\n",
    "print(superiores_2)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 17,
   "id": "9e6ea59e",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "0    16\n",
       "1    21\n",
       "2    16\n",
       "3    16\n",
       "4    13\n",
       "5    15\n",
       "6    15\n",
       "7    19\n",
       "8    22\n",
       "9    15\n",
       "Name: notas_2, dtype: int64"
      ]
     },
     "execution_count": 17,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df.notas_2"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "c2d7f3b7",
   "metadata": {},
   "source": [
    "--> Inferiores"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 18,
   "id": "24ae15f7",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "10.125"
      ]
     },
     "execution_count": 18,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "inferiores_2 = df[\"notas_2\"].quantile(0.25) - 1.5 * iqr_2\n",
    "inferiores_2"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "9f258c96",
   "metadata": {},
   "source": [
    " * **Notas 3:**"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "4f35fe6c",
   "metadata": {},
   "source": [
    "--> Superiores:"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 19,
   "id": "fd6bccdc",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "29.375\n"
     ]
    }
   ],
   "source": [
    "superiores_3 = df[\"notas_3\"].quantile(0.75) + 1.5 * iqr_3\n",
    "print(superiores_3)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 20,
   "id": "a8488ddc",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "0    17\n",
       "1    22\n",
       "2    15\n",
       "3    22\n",
       "4    14\n",
       "5    15\n",
       "6    16\n",
       "7    15\n",
       "8    24\n",
       "9    16\n",
       "Name: notas_3, dtype: int64"
      ]
     },
     "execution_count": 20,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df.notas_3"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "cab895bf",
   "metadata": {},
   "source": [
    "--> Inferiores"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 21,
   "id": "ab72a088",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "6.375"
      ]
     },
     "execution_count": 21,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "inferiores_3 = df[\"notas_3\"].quantile(0.25) - 1.5 * iqr_3\n",
    "inferiores_3"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "003d1031",
   "metadata": {},
   "source": [
    "## Máximos, Mínimos, cuartiles (Q3, Q1), Mediana/Media (Q2)"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "3bfcc1f7",
   "metadata": {},
   "source": [
    " * **Notas 1:**"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 22,
   "id": "70b810a6",
   "metadata": {},
   "outputs": [],
   "source": [
    "max_1 = df[\"notas_1\"].max()\n",
    "min_1 = df[\"notas_1\"].min()\n",
    "q3_1 = df[\"notas_1\"].quantile(0.75)\n",
    "q1_1 = df[\"notas_1\"].quantile(0.25)\n",
    "mediana_1 = df[\"notas_1\"].median()\n",
    "media_1 = df[\"notas_1\"].mean()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 23,
   "id": "1033c539",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Maximo: 25, Mínimo: 10, Q3: 15.75, Q1: 14.0, Media: 15.5\n"
     ]
    }
   ],
   "source": [
    "print(f\"Maximo: {max_1}, Mínimo: {min_1}, Q3: {q3_1}, Q1: {q1_1}, Media: {media_1}\")"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "c54dce17",
   "metadata": {},
   "source": [
    " * **Notas 2:**"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 24,
   "id": "e587bb8d",
   "metadata": {},
   "outputs": [],
   "source": [
    "max_2 = df[\"notas_2\"].max()\n",
    "min_2 = df[\"notas_2\"].min()\n",
    "q3_2 = df[\"notas_2\"].quantile(0.75)\n",
    "q1_2 = df[\"notas_2\"].quantile(0.25)\n",
    "mediana_2 = df[\"notas_2\"].median()\n",
    "media_2 = df[\"notas_2\"].mean()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 25,
   "id": "cc9bf54f",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Maximo: 22, Mínimo: 13, Q3: 18.25, Q1: 15.0, Media: 16.8\n"
     ]
    }
   ],
   "source": [
    "print(f\"Maximo: {max_2}, Mínimo: {min_2}, Q3: {q3_2}, Q1: {q1_2}, Media: {media_2}\")"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "0420f926",
   "metadata": {},
   "source": [
    " * **Notas 3:**"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 26,
   "id": "55fc90d5",
   "metadata": {},
   "outputs": [],
   "source": [
    "max_3 = df[\"notas_3\"].max()\n",
    "min_3 = df[\"notas_3\"].min()\n",
    "q3_3 = df[\"notas_3\"].quantile(0.75)\n",
    "q1_3 = df[\"notas_3\"].quantile(0.25)\n",
    "mediana_3 = df[\"notas_3\"].median()\n",
    "media_3 = df[\"notas_3\"].mean()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 27,
   "id": "131bb41f",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Maximo: 24, Mínimo: 14, Q3: 20.75, Q1: 15.0, Media: 17.6\n"
     ]
    }
   ],
   "source": [
    "print(f\"Maximo: {max_3}, Mínimo: {min_3}, Q3: {q3_3}, Q1: {q1_3}, Media: {media_3}\")"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 28,
   "id": "43bb6802",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>notas_1</th>\n",
       "      <th>notas_2</th>\n",
       "      <th>notas_3</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>count</th>\n",
       "      <td>10.000000</td>\n",
       "      <td>10.000000</td>\n",
       "      <td>10.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>mean</th>\n",
       "      <td>15.500000</td>\n",
       "      <td>16.800000</td>\n",
       "      <td>17.600000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>std</th>\n",
       "      <td>3.807887</td>\n",
       "      <td>2.898275</td>\n",
       "      <td>3.627059</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>min</th>\n",
       "      <td>10.000000</td>\n",
       "      <td>13.000000</td>\n",
       "      <td>14.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>25%</th>\n",
       "      <td>14.000000</td>\n",
       "      <td>15.000000</td>\n",
       "      <td>15.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>50%</th>\n",
       "      <td>15.000000</td>\n",
       "      <td>16.000000</td>\n",
       "      <td>16.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>75%</th>\n",
       "      <td>15.750000</td>\n",
       "      <td>18.250000</td>\n",
       "      <td>20.750000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>max</th>\n",
       "      <td>25.000000</td>\n",
       "      <td>22.000000</td>\n",
       "      <td>24.000000</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "         notas_1    notas_2    notas_3\n",
       "count  10.000000  10.000000  10.000000\n",
       "mean   15.500000  16.800000  17.600000\n",
       "std     3.807887   2.898275   3.627059\n",
       "min    10.000000  13.000000  14.000000\n",
       "25%    14.000000  15.000000  15.000000\n",
       "50%    15.000000  16.000000  16.000000\n",
       "75%    15.750000  18.250000  20.750000\n",
       "max    25.000000  22.000000  24.000000"
      ]
     },
     "execution_count": 28,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df.describe()"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "bc8fbe1c",
   "metadata": {},
   "source": [
    "**Resultados notas 1:**"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 29,
   "id": "038ce37c",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Desviación estándar: 3.6124783736376886, Varianza: 13.05, Rango: 15, \n",
      "IQR: 1.75 Outlier Sup: 18.375, Outlier Inf: 11.375\n"
     ]
    }
   ],
   "source": [
    "print(f'Desviación estándar: {std_1}, Varianza: {varianza_1}, Rango: {rango_1}, \\nIQR: {iqr_1}\\\n",
    " Outlier Sup: {superiores_1}, Outlier Inf: {inferiores_1}')"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "1ebc395c",
   "metadata": {},
   "source": [
    "**Resultados notas 2:**"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 30,
   "id": "8e05dfdd",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Desviación estándar: 2.749545416973504, Varianza: 7.56, Rango: 9, \n",
      "IQR: 3.25 Outlier Sup: 23.125, Outlier Inf: 10.125\n"
     ]
    }
   ],
   "source": [
    "print(f'Desviación estándar: {std_2}, Varianza: {varianza_2}, Rango: {rango_2}, \\nIQR: {iqr_2}\\\n",
    " Outlier Sup: {superiores_2}, Outlier Inf: {inferiores_2}')"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "104ea6fd",
   "metadata": {},
   "source": [
    "**Resultados notas 3:**"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 31,
   "id": "a4e75da4",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Desviación estándar: 3.4409301068170506, Varianza: 11.84, Rango: 10, \n",
      "IQR: 5.75 Outlier Sup: 29.375, Outlier Inf: 6.375\n"
     ]
    }
   ],
   "source": [
    "print(f'Desviación estándar: {std_3}, Varianza: {varianza_3}, Rango: {rango_3}, \\nIQR: {iqr_3}\\\n",
    " Outlier Sup: {superiores_3}, Outlier Inf: {inferiores_3}')"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "0bdaa31c",
   "metadata": {},
   "source": [
    "## Diagrama de cajas"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "60b12304",
   "metadata": {},
   "source": [
    "<img src=\"boxplot.png\">"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 32,
   "id": "e525dc71",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAXAAAAD5CAYAAAA+0W6bAAAAOXRFWHRTb2Z0d2FyZQBNYXRwbG90bGliIHZlcnNpb24zLjQuMiwgaHR0cHM6Ly9tYXRwbG90bGliLm9yZy8rg+JYAAAACXBIWXMAAAsTAAALEwEAmpwYAAASIklEQVR4nO3df4zkdX3H8efbu6siIGhPVyuUbW3VxVVQNkYrll2vIURosKmx2VQKuuml1iA0EDjdREqbTc4fwdZaY06XgC3Z1gSohqsKITMlVwU5CD8OlmhSwSDglWIPVk97d777x87puu7dzM58Z2c/M89HMrnvfL6/3t/57L7me9/9/ojMRJJUnuf1ugBJUnsMcEkqlAEuSYUywCWpUAa4JBVq41qubPPmzTk8PLyWq1xTP/rRjzj22GN7XYbaYN+Vrd/775577nk6M1+6vH1NA3x4eJjdu3ev5SrXVL1eZ3x8vNdlqA32Xdn6vf8i4rGV2j2EIkmFMsAlqVAGuCQVygCXpEIZ4JJUKAO8AnNzc4yOjrJlyxZGR0eZm5vrdUmSBsCankbYj+bm5pienmZ2dpZDhw6xYcMGpqamAJicnOxxdZL6mXvgHZqZmWF2dpaJiQk2btzIxMQEs7OzzMzM9Lo0SX3OAO/Q/Pw8Z5555i+1nXnmmczPz/eoIkmDwgDv0MjICLt27fqltl27djEyMtKjiiQNCgO8Q9PT00xNTVGr1Th48CC1Wo2pqSmmp6d7XZqkPucfMTt0+A+VF198MfPz84yMjDAzM+MfMCV1nQFegcnJSSYnJ/v+hjqS1hcPoUhSoQxwSSqUAS5JhTLAJalQBrgkFappgEfEyRFRi4iHI+KhiLhk2fjLIiIjYnP3ypQkLdfKaYQHgcsy896IOB64JyJuy8yHI+Jk4Gzge12tUpL0K5rugWfmk5l5b2P4OWAeeGVj9KeAK4DsWoWSpBWt6hh4RAwDbwTuiojzge9n5v3dKEySdHQtX4kZEccBNwKXsnhY5SMsHj5pNt9WYCvA0NAQ9Xq9nTqLsLCw0Nfb18/su/VtYmKi42XUarUKKllfIrP50Y+I2ATcAnw9M6+JiNcDtwM/bkxyEvAE8ObMfOpIyxkbG8vdu3d3XvU65aX05bLvyja8bSePbj+312V0TUTck5ljy9ub7oFHRACzwHxmXgOQmQ8CL1syzaPAWGY+XVnFkqSjauUY+NuAC4B3RMR9jdc7u1yXJKmJpnvgmbkLiCbTDFdVkCSpNV6JKUmFMsAlqVAGuCQVygCXpEIZ4JJUKANckgplgEtSoQxwSSqUAS5JhTLAJalQBrgkFcoAl6RCGeCSVCgDXJIKZYBLUqEMcEkqlAEuSYUywCWpUE0DPCJOjohaRDwcEQ9FxCWN9k9ExCMR8UBE3BwRJ3a9WknSz7WyB34QuCwzTwXeAnwwIk4FbgNGM/MNwLeBD3evTEnSck0DPDOfzMx7G8PPAfPAKzPz1sw82JjsTuCk7pUpSVqu6VPpl4qIYeCNwF3LRr0f+NcjzLMV2AowNDREvV5fdZGlWFhY6OvtK9nExEQly6nVapUsR9UbxN+9lgM8Io4DbgQuzcxnl7RPs3iY5YaV5svMHcAOgLGxsRwfH++k3nWtXq/Tz9tXssw86vjhbTt5dPu5a1SNKve1nQP5u9dSgEfEJhbD+4bMvGlJ+0XAecCWbPYbIkmqVNMAj4gAZoH5zLxmSfs5wBXAWZn54+6VKElaSSt74G8DLgAejIj7Gm0fAT4NPB+4bTHjuTMz/6IbRUqSflXTAM/MXUCsMOrfqy9HktQqr8SUpEIZ4JJUKANckgplgEtSoQxwSSqUAS5JhTLAJalQBrgkFcoAl6RCGeCSVKhV3Q9ckqp22tW3sm//gY6XM7xtZ0fzn3DMJu6/6uyO61hLBrikntq3/0DH92Kv4l78nX4B9IKHUCSpUAa4JBXKAJekQhngklQoA1ySCtU0wCPi5IioRcTDEfFQRFzSaH9JRNwWEd9p/Pvi7pcrSTqslT3wg8BlmXkq8BbggxFxKrANuD0zfxe4vfFekrRGmgZ4Zj6Zmfc2hp8D5oFXAucD1zcmux54V5dqlCStYFUX8kTEMPBG4C5gKDOfbIx6Chg6wjxbga0AQ0ND1Ov1dmtd9xYWFvp6+/qdfdc7nX72Vf3ulfYz0HKAR8RxwI3ApZn5bMQvHlSfmRkRudJ8mbkD2AEwNjaWnV4ttZ5VcTWYeuRrO+27Xqngs6/kd6/An4GWzkKJiE0shvcNmXlTo/kHEfGKxvhXAHu7U6IkaSWtnIUSwCwwn5nXLBn1FeDCxvCFwJerL0+SdCStHEJ5G3AB8GBE3Ndo+wiwHfhSREwBjwHv6UqFkqQVNQ3wzNwFxBFGb6m2HElSq7wSU5IKZYBLUqEMcEkqlAEuSYUywCWpUAa4JBXKAJekQhngklQoA1ySCmWAS1KhDHBJKpQBLkmFMsAlqVAGuCQVygCXpEIZ4JJUKANckgrV9Ik8EXEtcB6wNzNHG22nA58DXgAcBP4yM7/VxTqlozrt6lvZt/9AR8sY3razo/lPOGYT9191dkfLkFajlWdiXgd8BvjikraPA1dn5lcj4p2N9+OVVye1aN/+Azy6/dy256/X64yPj3dUQ6dfANJqNT2Ekpl3AM8sbwZe1Bg+AXii4rokSU20sge+kkuBr0fEJ1n8Evi9yiqSJLWk3QD/APBXmXljRLwHmAX+YKUJI2IrsBVgaGiIer3e5irXv4WFhb7evvWuk8++qr6z/9vT6ec2sP2XmU1fwDCwZ8n7fUA0hgN4tpXlnHHGGdnParVar0sYWKdceUtH81fRd53WMKiq+Nz6vf+A3blCprZ7GuETwFmN4XcA3+ngO0SS1IZWTiOcY/EMk80R8ThwFfDnwN9HxEbgJzQOkUiS1k7TAM/MySOMOqPiWiRJq+CVmJJUKANckgplgEtSoQxwSSqUAS5JhTLAJalQBrgkFcoAl6RCtXszq4ETEZUsZ/G2BpLUOffAW7TSjWSWv0658pZWbgwmSZUwwCWpUAa4JBXKAJekQhngklQoA1ySCmWAS1KhDHBJKpQBLkmFahrgEXFtROyNiD3L2i+OiEci4qGI+Hj3SpQkraSVPfDrgHOWNkTEBHA+cFpmvg74ZPWlSZKOpmmAZ+YdwDPLmj8AbM/Mnzam2duF2iRJR9HuzaxeDbw9ImaAnwCXZ+bdK00YEVuBrQBDQ0PU6/U2V1mGft++9er4kW28/vptnS3k+k5rgHr92M4WMoAq6TsYzP5r5SZNwDCwZ8n7PcA/AAG8GfguEM2Wc8YZZ2Q/O+XKW3pdwsDq9LOv1Wo9r2FQVfG59Xv/AbtzhUxt9yyUx4GbGsv+FvAzYHNnXyWSpNVo9xDKvwETQC0iXg38GvB0VUX1wmlX38q+/Qc6Xs7wtp1tz3vCMZu4/6qzO65B0mBoGuARMQeMA5sj4nHgKuBa4NrGqYX/B1zY2M0v1r79B3h0+7kdLaNerzM+Pt72/J2Ev6TB0zTAM3PyCKPeW3EtkqRV8EpMSSqUAS5JhTLAJalQBrgkFcoAl6RCGeCSVCgDXJIK1e6VmH1nPdxQ5/gRgM4uJhpkHV8I9bXO5j/hmE2drX+AVXIR2wD2nwHe8Nz8dq/ELFinfTe8bWfHy1B7qvjcB7X/PIQiSYUywCWpUAa4JBXKAJekQhngklQoA1ySCmWAS1KhDHBJKlTTAI+IayNib+PxacvHXRYRGRE+0FiS1lgre+DXAecsb4yIk4Gzge9VXJMkqQVNAzwz7wCeWWHUp4ArgKIfZixJpWrrXigRcT7w/cy8PyKaTbsV2AowNDREvV5vZ5Vr4mj3InnsY+dVso5TrrzliOOO3cS6/nz6nZ/9+jUxMdF0mvjY0cfXarWKqlk/IrP5DnREDAO3ZOZoRLwQqAFnZ+a+iHgUGMvMp5stZ2xsLHfv3t1hyetXpzezUu8M6s2Q+kW//+5FxD2ZOba8vZ2zUF4F/BZwfyO8TwLujYiXd1aiJGk1Vn0IJTMfBF52+P1q9sAlSdVp5TTCOeCbwGsi4vGImOp+WZKkZprugWfmZJPxw5VVI0lqmVdiSlKhDHBJKpQBLkmFMsAlqVAGuCQVygCXpEIZ4JJUqLZuZiWVptlN16D5zZAAWrl3kLRW3APXQMjMo75qtVrTaQxvrTcGuCQVygCXpEIZ4JJUKANckgplgEtSoQxwSSqUAS5JhTLAJalQrTxS7dqI2BsRe5a0fSIiHomIByLi5og4satVSpJ+RSt74NcB5yxruw0Yzcw3AN8GPlxxXZKkJpoGeGbeATyzrO3WzDzYeHsncFIXapMkHUUVx8DfD3y1guVIklaho7sRRsQ0cBC44SjTbAW2AgwNDVGv1ztZ5bq2sLDQ19vXz+y7sg1q/7Ud4BFxEXAesCWPcpu2zNwB7AAYGxvL8fHxdle57tXrdfp5+/qZfVe2Qe2/tgI8Is4BrgDOyswfV1uSJKkVrZxGOAd8E3hNRDweEVPAZ4Djgdsi4r6I+FyX65QkLdN0DzwzJ1donu1CLZKkVfBKTEkqlAEuSYUywCWpUAa4JBXKAJekQhngklQoA1ySCmWAS1KhDHBJKpQBLkmFMsAlqVAGuCQVygCXpEIZ4JJUKANckgplgEtSoQxwSSqUAS5JhWrlmZjXRsTeiNizpO0lEXFbRHyn8e+Lu1vm+jY3N8fo6ChbtmxhdHSUubm5XpckaQC08lT661h8iPEXl7RtA27PzO0Rsa3x/srqy1v/5ubmmJ6eZnZ2lkOHDrFhwwampqYAmJxc6XGiklSNpnvgmXkH8Myy5vOB6xvD1wPvqrascszMzDA7O8vExAQbN25kYmKC2dlZZmZmel2apD7Xyh74SoYy88nG8FPA0JEmjIitwFaAoaEh6vV6m6tcn+bn5zl06BD1ep2FhQXq9TqHDh1ifn6+77a1nx3uO5VpUPuv3QD/uczMiMijjN8B7AAYGxvL8fHxTle5royMjLBhwwbGx8ep1+uMj49Tq9UYGRmh37a1nx3uO5VpUPuv3bNQfhARrwBo/Lu3upLKMj09zdTUFLVajYMHD1Kr1ZiammJ6errXpUnqc+3ugX8FuBDY3vj3y5VVVJjDf6i8+OKLmZ+fZ2RkhJmZGf+AKanrmgZ4RMwB48DmiHgcuIrF4P5SREwBjwHv6WaR693k5CSTk5MD+984Sb3RNMAz80i7klsqrkWStApeiSlJhTLAJalQBrgkFcoAl6RCReYRr8GpfmUR/83iWSv9ajPwdK+LUFvsu7L1e/+dkpkvXd64pgHe7yJid2aO9boOrZ59V7ZB7T8PoUhSoQxwSSqUAV6tHb0uQG2z78o2kP3nMXBJKpR74JJUKANckgplgEtSoQzwVYqIiyLiNypc3msj4psR8dOIuLyq5WplXei/P42IByLiwYj4RkScVtWy9cu60HfnN/ruvojYHRFnVrXstWKAr95FQGU/RCw+MPpDwCcrXKaO7CKq7b/vAmdl5uuBv2VAz4ZYIxdRbd/dDpyWmacD7we+UOGy18TAB3hEDEfEfER8PiIeiohbI+KYiDg9Iu5sfEPfHBEvjoh3A2PADY1v7WMi4qMRcXdE7ImIHRERjeV+KCIebsz/L0daf2buzcy7gQNrtMl9ZR303zcy84eNt3cCJ3V/q/vDOui7hfzFaXjHAuWdkpeZA/0ChoGDwOmN918C3gs8wOKeFcDfAH/XGK4DY0vmf8mS4X8C/rAx/ATw/MbwiS3U8dfA5b3+PEp7rZf+a0x3OfCFXn8mpbzWQ98BfwQ8wuL/hN/a689kta+B3wNv+G5m3tcYvgd4FYsd/x+NtuuB3z/CvBMRcVdEPAi8A3hdo/0BFvcW3sviD6m6p+f9FxETwBRwZXubMLB62neZeXNmvhZ4F4uHwIpigC/66ZLhQ8CJrcwUES8APgu8OxePgX4eeEFj9LnAPwJvAu6OiHYfIK3metp/EfEGFo+fnp+Z/7Pq6gfbuvjdy8w7gN+OiM2tl957BvjK9gE/jIi3N95fABzeI3gOOL4xfPgH5umIOA54N0BEPA84OTNrLO6RnQActxaFC1jD/ouI3wRuAi7IzG9XvSEDaC377neWHDd/E/B8oKgvYPcKj+xC4HMR8ULgv4D3Ndqva7TvB97K4jf/HuAp4O7GNBuAf46IE4AAPp2Z/7vSSiLi5cBu4EXAzyLiUuDUzHy2C9s0SNak/4CPAr8OfLaRBQdzAG9rWrG16rs/Bv4sIg4A+4E/ycaB8VJ4LxRJKpSHUCSpUB5CWSMR8T7gkmXN/5mZH+xFPVod+69c/dx3HkKRpEJ5CEWSCmWAS1KhDHBJKpQBLkmF+n9VmyamNy8iMgAAAABJRU5ErkJggg==\n",
      "text/plain": [
       "<Figure size 432x288 with 1 Axes>"
      ]
     },
     "metadata": {
      "needs_background": "light"
     },
     "output_type": "display_data"
    }
   ],
   "source": [
    "# usando pandas:\n",
    "boxplot = df.boxplot(column=[\"notas_1\", \"notas_2\", \"notas_3\"])"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 33,
   "id": "68643dd5",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "<AxesSubplot:>"
      ]
     },
     "execution_count": 33,
     "metadata": {},
     "output_type": "execute_result"
    },
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAXAAAAD5CAYAAAA+0W6bAAAAOXRFWHRTb2Z0d2FyZQBNYXRwbG90bGliIHZlcnNpb24zLjQuMiwgaHR0cHM6Ly9tYXRwbG90bGliLm9yZy8rg+JYAAAACXBIWXMAAAsTAAALEwEAmpwYAAAWfklEQVR4nO3df1CU173H8c+ywVVKIYKiY1rHcknMXlu1qXTC6JA7WhUMBIuNdTq2lHTqdNqBsYwagXRMrBNr0lFLJ8nIUEcSJ4n1RyQ6iFaiZsb642rSMYmrVzImkYK/AI2yZiHy3D9UEqu4y/rsrod9v/4JOeye5/vsWT97OLvPWYdlWZYAAMaJiXQBAIDgEOAAYCgCHAAMRYADgKEIcAAw1H3hPNi//vUvuVyucB4SAIzn8/k0duzYW9rDGuAul0tutzuchwQA43k8ntu2s4QCAIYiwAHAUAQ4ABiKAAcAQxHgNjl//ryKiorU0tIS6VIARAkC3CbV1dU6cuSIqqurI10KgChBgNvg/Pnz2rZtmyzL0rZt25iFAwgLAtwG1dXVurErb1dXF7NwAGFBgNvgH//4hzo7OyVJnZ2d2rFjR4QrAhANCHAbTJ48WbGxsZKk2NhYTZkyJcIVAYgGBLgNCgoK5HA4JEkxMTEqKCiIcEUAogEBboNBgwYpOztbDodD2dnZSk5OjnRJAKJAWDez6ssKCgr0ySefMPsGEDYEuE0GDRqkv/71r5EuA0AUYQkFAAxFgAOAoQhwADAUAQ4AhvIb4M3Nzfr5z3+uadOm6fHHH7/lMvHVq1dr5MiRam1tDVmRAIBb+f0UitPp1MKFCzVq1ChdvnxZM2bM0Pjx45WWlqbm5mbt3btXw4YNC0etAICv8TsDT0lJ0ahRoyRJ8fHxSk1N1ZkzZyRJS5cu1fz587uvQgQAhE+vPgfe2Ngoj8ejMWPGaOfOnUpJSdHDDz8cqtoA9CF1dXWqra21vd8by7dJSUm29z1t2jRlZWXZ3q9dAg7w9vZ2FRcXq6ysTE6nU6tWrdLq1at7dTCfzyePx9PrIgGYr6mpSV6v1/Z+z507J0nq37+/7X03NTXd05nlsG5sZH0HnZ2d+s1vfqMJEyaosLBQx48f1y9/+UsNGDBAknT69GmlpKRo/fr1Gjx4cI/9eDweud1u+6oHEPWKi4slSRUVFRGuJHR6yk6/M3DLslReXq7U1FQVFhZKkkaOHKl9+/Z132bixInasGFDSP6EAQDcnt83MQ8fPqyamhrt379feXl5ysvL0549e8JRGwDgDvzOwMeNG6fjx4/f8TbvvPOObQUBAALDlZgAYCgCHAAMRYADgKEIcAAwFAEOAIYiwAHAUAQ4ABiKAAcAQxHgAGAoAhwADEWAA4ChCHAAMBQBDgCGIsABwFAEOAAYigAHAEMR4ABgKAIcAAzl9yvVmpubtWDBArW0tMjhcGjmzJkqKCjQsmXLtGvXLsXGxmr48OFaunSpEhISwlEzAEABzMCdTqcWLlyo2tparVu3Tq+//roaGho0fvx4bd26VVu2bNGIESO0atWqcNQLALjO7ww8JSVFKSkpkqT4+HilpqbqzJkzmjBhQvdtxo4dq7q6utBVCUiqq6tTbW2t7f22trZKkpKSkmzvW5KmTZumrKyskPSN6OY3wL+usbFRHo9HY8aMual948aNys7O9nt/n88nj8fTuwqB65qamuT1em3v99y5c5Kk/v372963dK1unvehc+M5EY2PccAB3t7eruLiYpWVlSk+Pr67/ZVXXpHT6dQTTzzhtw+XyyW32x1cpYh6brdbTz31lO39FhcXS5IqKips7xuhFxcXJ0l9Olt6enEKKMA7OztVXFys3NxcTZkypbt906ZN2r17t9asWSOHw2FPpQCAgPgNcMuyVF5ertTUVBUWFna3v/vuu6qqqtLatWs1YMCAkBYJALiV3wA/fPiwampq9NBDDykvL0+SVFJSoiVLlqijo6M71MeMGaPFixeHtloAQDe/AT5u3DgdP378lvbHHnssJAUBAALDlZgAYCgCHAAMRYADgKEIcAAwFAEOAIYiwAHAUAQ4ABiKAAcAQxHgAGCoXm0nC6Bvq6ioUENDQ6TL6JUTJ05I+mpXSVOkpaXddc0EOIBuDQ0Nev+j96X7I11JL1xfR3j/3+9Hto7euGBPNwQ4gJvdL3X9T1ekq+jTYnbbs3rNGjgAGIoABwBDEeAAYCgCHAAMRYADgKH8fgqlublZCxYsUEtLixwOh2bOnKmCggJduHBBv//97/Xvf/9bDzzwgFauXKnExMRw1AwAUAAzcKfTqYULF6q2tlbr1q3T66+/roaGBlVWViojI0M7duxQRkaGKisrw1EvAOA6vwGekpKiUaNGSZLi4+OVmpqqM2fOqL6+XtOnT5ckTZ8+XTt37gxpoQCAm/XqQp7GxkZ5PB6NGTNGLS0tSklJkSQNHjxYLS0tfu/v8/nk8XiCqxQIEa/XK0k8N/XVY4HQ83q9d/2cCzjA29vbVVxcrLKyMsXHx9/0O4fDIYfD4bcPl8slt9vd+yqBEIqLi5Mknpu6/li0RbqK6BAXFxfwc66noA/oUyidnZ0qLi5Wbm6upkyZIklKTk7W2bNnJUlnz55VUlJSQIUAAOzhN8Aty1J5eblSU1NVWFjY3T5x4kRt3rxZkrR582ZNmjQpZEUCAG7ldwnl8OHDqqmp0UMPPaS8vDxJUklJiebMmaO5c+dqw4YNGjZsmFauXBnqWgEAX+M3wMeNG6fjx4/f9nfV1dW2FwQACAxXYgKAoQhwADAUAQ4AhiLAAcBQBDgAGIoABwBDEeAAYCgCHAAMRYADgKEIcAAwFAEOAIYiwAHAUAQ4ABiKAAcAQxHgAGAoAhwADNWrb6UHAlFRUaGGhoZIlxGwEydOSJKKi4sjXEnvpKWlGVcz7OU3wEtLS7V7924lJydr69atkq59Q/KiRYvk8/nkdDr17LPPavTo0SEvFmZoaGjQ/334nobHX410KQFJsBySpC8++d8IVxK4zy47I10C7gF+Azw/P1+zZ8/W008/3d324osv6ne/+50ee+wx7dmzRy+++KJee+21kBYKswyPv6pnxl2OdBl91pJD8ZEuAfcAv2vg6enpSkxMvKnN4XCovb1dknTp0iWlpKSEpjoAQI+CWgMvKyvTr371Ky1btkxdXV1688037a4LAOBHUAH+xhtvqLS0VFOnTlVtba3Ky8u1Zs0av/fz+XzyeDzBHBIG8Xq9fLwpDLxer+3/nrxer639oWd2jF9QAf7WW2+pvLxckpSdna1nnnkmoPu5XC653e5gDgmDxMXF6YtIFxEF4uLibP/3FBcXJ7XZ2iV60Jvx6ynog5oopaSk6ODBg5Kk/fv3a8SIEcF0AwC4C35n4CUlJTp48KDa2tqUmZmpoqIi/fGPf9Tzzz+vL7/8Ui6XS4sXLw5HrQCAr/Eb4MuXL79t+6ZNm2wvBgAQON5rAgBDEeAAYCgCHAAMRYADgKEIcAAwFAEOAIYiwAHAUFH1hQ51dXWqra0NSd+tra2SpKSkJNv7njZtmrKysmzvF4DZoirAQ6mlpUVSaAIcAG4nqgI8KysrZDPZG19tVVFREZL+AeA/sQYOAIYiwAHAUAQ4ABiKAAcAQxHgAGAoAhwADEWAA4ChCHAAMJTfAC8tLVVGRoZycnJuan/ttdeUlZWlxx9/XC+88ELICgQA3J7fKzHz8/M1e/ZsPf30091t+/fvV319vd5++23169ev+zJyAED4+A3w9PR0NTY23tT2xhtvaM6cOerXr58kKTk5OTTVwUitra06d8mpJYfiI11Kn/XpJacGX99AzU6tra3SBSlmN6urIXVBah1w9+MX1F4on3zyiQ4dOqQVK1bI5XJpwYIFGj16tN/7+Xw+eTyeYA55z/N6vZLUZ8+vNzo6OiJdQlTo6Oiw/fnG2IWPHeMXVIBfvXpVFy9e1N///nd98MEHmjt3rurr6+VwOO54P5fLJbfbHVSh97q4uDhJ6rPn1xtDhw7V/V+c0jPjLke6lD5ryaF49R861Pbn29ChQ9V8tVld/9Nla7+4WczuGA3txfj1FPRBBfiQIUM0efJkORwOjR49WjExMWpra7NtK9WKigo1NDTY0le4nDhxQtJXuxKaIC0tzah6AdwsqAD/0Y9+pAMHDujRRx/VyZMn1dnZqYEDB9pWVENDg97/4Ki64szZW9tx9dpDefjj0xGuJDAxXvvXTwGEl98ALykp0cGDB9XW1qbMzEwVFRVpxowZKisrU05OjmJjY/WnP/3J7/JJb3XFJemL/87xf0MEpf/RrZEuAcBd8hvgy5cvv237n//8Z9uLAQAEjs8KAYChCHAAMBQBDgCGIsABwFAEOAAYigAHAEMFdSFPqLW2tirG28JnlUMoxtui1tZ+Iev/s8vmbGZ1sePaNQyJ/awIVxK4zy479VCoOr9g2GZWX1z/b/+IVtE7FyQ9cPfd3JMBDrOlpaVFuoReOXV9G4QhIx6McCWBe0iheZxNGzvpq20sHnzAnPHTA/Y81vdkgCclJelkWwdXYoZQ/6Nbbdu75j+Ztr/KjXorKioiXEnkmTZ2UnSPn0F/JwEAvo4ABwBDEeAAYCgCHAAMRYADgKEIcAAwFAEOAIYiwAHAUH4DvLS0VBkZGcrJufWimtWrV2vkyJFqbeX7FQEg3PwGeH5+vqqqqm5pb25u1t69ezVs2LCQFAYAuDO/l9Knp6ersbHxlvalS5dq/vz5+u1vfxuSwmK8rbZvZuXovCJHp9fWPsPBio2TFTvA1j6vfSv9UFv7BO6krq5OtbW1tvd7Yy+UUGwDMG3aNGVlZdner12C2gtl586dSklJ0cMPP9yr+/l8Pnk8Hr+3S0pK0sj/GhFMaXf0+efSxYsdtvcbaomJA5SQkGBzrwlKSkoKaDz6Oq/32os6j0VoNTU1dT/WdoqPv7brZSj6bmpquqefF70O8CtXrmjVqlVavXp1rw/mcrnkdrv93u7ZZ5/tdd9AsOLi4iQpoOcmgud2u/XUU09Fugwj9fQi0utPoXz22WdqbGxUXl6eJk6cqNOnTys/P1/nzp276yIBAIHr9Qx85MiR2rdvX/f/T5w4URs2bAjZ1qQAgNvzOwMvKSnRrFmzdPLkSWVmZmr9+vXhqAsA4IffGfjy5cvv+Pt33nnHtmIAAIHjSkwAMBQBDgCGIsABwFAEOAAYigAHAEMR4ABgqKD2QgEiwcTNkKR7f0MkmIsAR9RLTk6OdAlAUAhwGCMrK4uZLPA1rIEDgKEIcAAwFAEOAIYiwAHAUAQ4ABiKAAcAQxHgAGAoAhwADOX3Qp7S0lLt3r1bycnJ2rp1qyRp2bJl2rVrl2JjYzV8+HAtXbpUCQkJIS8WAPAVvzPw/Px8VVVV3dQ2fvx4bd26VVu2bNGIESO0atWqkBUIALg9vwGenp6uxMTEm9omTJig++67NnkfO3asTp8+HZrqAAA9uus18I0bNyozM9OOWgAAvXBXm1m98sorcjqdeuKJJwK6vc/nk8fjuZtDAgCuCzrAN23apN27d2vNmjVyOBwB3cflcsntdgd7SACISj1NfIMK8HfffVdVVVVau3atBgwYcFeFAQCC4zfAS0pKdPDgQbW1tSkzM1NFRUWqrKxUR0eHCgsLJUljxozR4sWLQ14sAOArDsuyrHAdzOPxsIQCAL3UU3ZyJSYAGIoABwBDEeAAYCgCHAAMRYADgKEIcAAwFAEOAIYiwAHAUAQ4ABiKAAcAQxHgAGAoAhwADEWAA4ChCHAAMBQBDgCGIsABwFAEOAAYigC3yfnz51VUVKSWlpZIlwIgSvgN8NLSUmVkZCgnJ6e77cKFCyosLNSUKVNUWFioixcvhrRIE1RXV+vIkSOqrq6OdCkAooTfAM/Pz1dVVdVNbZWVlcrIyNCOHTuUkZGhysrKkBVogvPnz2vbtm2yLEvbtm1jFg4gLPwGeHp6uhITE29qq6+v1/Tp0yVJ06dP186dO0NSnCmqq6t147uhu7q6mIUDCIv7grlTS0uLUlJSJEmDBw8OeMbp8/nk8XiCOeQ9bfv27ers7JQkdXZ2qq6uTtnZ2RGuCkBfF1SAf53D4ZDD4Qjoti6XS263+24Pec+ZOnWqamtr1dnZqdjYWGVlZfXJ8wQQGT1NfIP6FEpycrLOnj0rSTp79qySkpKCr6wPKCgo6H4Ri4mJUUFBQYQrAhANggrwiRMnavPmzZKkzZs3a9KkSXbWZJxBgwYpOztbDodD2dnZSk5OjnRJAKKA3wAvKSnRrFmzdPLkSWVmZmr9+vWaM2eO9u7dqylTpuif//yn5syZE45a72kFBQUaPXo0s28AYeOwbnx8Igw8Hg9rwwDQSz1lJ1diAoChCHAAMBQBDgCGIsABwFB3fSFPb/TVKzEBIJR8Pt9t28P6KRQAgH1YQgEAQxHgAGAoAhwADEWAA4ChCHAAMBQBDgCGIsABwFAEeC9t2rRJZ86csa2/jz/+WD/96U/13e9+V3/7299s6xe3Z/f4vf3228rNzVVubq5mzZqlY8eO2dY3bmb32O3cuVO5ubnKy8tTfn6+Dh06ZFvf4RLWKzH7grfeeksPPvighgwZYkt/999/v8rLy1VfX29Lf7gzu8fvW9/6ltauXavExETt2bNHf/jDH7R+/Xpb+sbN7B67jIwMTZo0SQ6HQ8eOHdPcuXNVV1dnS9/hEvUB3tjYqF//+tf6wQ9+oPfff19DhgzRyy+/rJMnT2rRokW6cuWKhg8frueff1779u3Thx9+qHnz5ql///5at26dqqqqtGvXLvl8Pn3/+9/X4sWL5XA49Oqrr+rNN9+U0+lUWlqaVqxYcdvjJycnKzk5WXv27AnzmfcNkR6/Rx55pPvnsWPH6vTp0+E6deNFeuy+8Y1vdP985cqVgL/b955iRblTp05ZbrfbOnr0qGVZllVcXGxt3rzZysnJsQ4cOGBZlmWtXLnSWrJkiWVZljV79mzryJEj3fdva2vr/nnevHlWfX29ZVmWNX78eMvn81mWZVkXL170W0dFRYVVVVVlyzlFk3tl/CzLsqqqqqyysrK7PqdocS+M3Y4dO6ypU6da6enp1nvvvWfbuYULa+C69mfwjW+7GDVqlE6dOqVLly7phz/8oSTpxz/+cY/rYwcOHNCTTz6p3Nxc7d+/Xw0NDZKkkSNHat68eaqpqZHT6QzPiUSpe2H89u/frw0bNmjevHk2nVV0iPTYTZ48WXV1dXrppZf0l7/8xcYzCw8CXFK/fv26f3Y6nfr8888Dup/P59Nzzz2niooKbdmyRTNnzuzeNayyslI/+9nPdPToUf3kJz/Rl19+GZLaEfnxO3bsmJ555hm9/PLLGjhw4N2dTJSJ9NjdkJ6erlOnTqm1tTW4E4kQAvw2vvnNbyohIaH7lb+mpkbp6emSrq2btbe3S/pqi8eBAweqvb1d27dvlyR1dXWpublZjz76qObNm6dLly7J6/VG4EyiUzjHr6mpSUVFRXrhhRf0ne98J9Sn1ueFc+w+/fRTWdc3Y/3oo4/U0dFh3Atw1L+J2ZNly5Z1v5Hy7W9/W0uXLpV07U+6RYsWdb+R8uSTTyonJ0eDBg3S9773PUnS1atXNX/+fF2+fFmWZekXv/iFEhISbnucc+fOacaMGbp8+bJiYmJUXV2t2tpaxcfHh+1c+6Jwjd9LL72kCxcu6LnnnpN0bRa5adOm8JxkHxWusdu+fbtqamp03333qX///lqxYoVxb2SyHzgAGIolFAAwFEsoYbJx40a9+uqrN7U98sgjWrRoUYQqQm8wfubqy2PHEgoAGIolFAAwFAEOAIYiwAHAUAQ4ABjq/wGxDai+zct++gAAAABJRU5ErkJggg==\n",
      "text/plain": [
       "<Figure size 432x288 with 1 Axes>"
      ]
     },
     "metadata": {},
     "output_type": "display_data"
    }
   ],
   "source": [
    "# seaborn:\n",
    "sns.set_style(\"whitegrid\")\n",
    "sns.boxplot(data=df)"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "29f86870",
   "metadata": {},
   "source": [
    "# Ejemplo 2: Beneficios de una empresa"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 34,
   "id": "1a2ccb73",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Beneficios Enero ($)</th>\n",
       "      <th>Beneficios Febrero ($)</th>\n",
       "      <th>Beneficios Marzo ($)</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2500</td>\n",
       "      <td>3000</td>\n",
       "      <td>2900</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>2650</td>\n",
       "      <td>3225</td>\n",
       "      <td>2700</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>2740</td>\n",
       "      <td>3000</td>\n",
       "      <td>3400</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>2500</td>\n",
       "      <td>3100</td>\n",
       "      <td>2700</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "   Beneficios Enero ($)  Beneficios Febrero ($)  Beneficios Marzo ($)\n",
       "0                  2500                    3000                  2900\n",
       "1                  2650                    3225                  2700\n",
       "2                  2740                    3000                  3400\n",
       "3                  2500                    3100                  2700"
      ]
     },
     "execution_count": 34,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df_2 = pd.DataFrame({\"Beneficios Enero ($)\": [2500,2650,2740,2500],\n",
    "                     \"Beneficios Febrero ($)\": [3000,3225,3000,3100],\n",
    "                     \"Beneficios Marzo ($)\": [2900,2700,3400,2700]})\n",
    "df_2.head()"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "4c39a86f",
   "metadata": {},
   "source": [
    "### Beneficios Enero"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 35,
   "id": "6ddf786f",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "IQR: 172.5, Outlier Sup: 2931.25, Outilier Inf: 2241.25, Q1: 2500.0, Q3: 2672.5, Mediana: 2575.0\n"
     ]
    }
   ],
   "source": [
    "std_enero = df_2[\"Beneficios Enero ($)\"].std(ddof=0)\n",
    "varianza_enero = df_2[\"Beneficios Enero ($)\"].var(ddof=0)\n",
    "rango_enero = df_2[\"Beneficios Enero ($)\"].max() - df_2[\"Beneficios Enero ($)\"].min()\n",
    "iqr_enero = df_2[\"Beneficios Enero ($)\"].quantile(0.75) - df_2[\"Beneficios Enero ($)\"].quantile(0.25)\n",
    "superior_enero = df_2[\"Beneficios Enero ($)\"].quantile(0.75) + 1.5 * iqr_enero\n",
    "inferior_enero = df_2[\"Beneficios Enero ($)\"].quantile(0.25) - 1.5 * iqr_enero\n",
    "max_enero = df_2[\"Beneficios Enero ($)\"].max()\n",
    "min_enero = df_2[\"Beneficios Enero ($)\"].min()\n",
    "q3_enero = df_2[\"Beneficios Enero ($)\"].quantile(0.75)\n",
    "q1_enero = df_2[\"Beneficios Enero ($)\"].quantile(0.25)\n",
    "mediana_enero = df_2[\"Beneficios Enero ($)\"].median()\n",
    "\n",
    "print(f\"IQR: {iqr_enero}, Outlier Sup: {superior_enero}, Outilier Inf: {inferior_enero}, \\\n",
    "Q1: {q1_enero}, Q3: {q3_enero}, Mediana: {mediana_enero}\")"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "4047314f",
   "metadata": {},
   "source": [
    "### Beneficios Febrero"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 36,
   "id": "e027fa0b",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "IQR: 131.25, Outlier Sup: 3328.125, Outilier Inf: 2803.125, Q1: 3000.0, Q3: 3131.25, Mediana: 3050.0\n"
     ]
    }
   ],
   "source": [
    "std_f = df_2[\"Beneficios Febrero ($)\"].std(ddof=0)\n",
    "varianza_f = df_2[\"Beneficios Febrero ($)\"].var(ddof=0)\n",
    "rango_f = df_2[\"Beneficios Febrero ($)\"].max() - df_2[\"Beneficios Febrero ($)\"].min()\n",
    "iqr_f = df_2[\"Beneficios Febrero ($)\"].quantile(0.75) - df_2[\"Beneficios Febrero ($)\"].quantile(0.25)\n",
    "superior_f = df_2[\"Beneficios Febrero ($)\"].quantile(0.75) + 1.5 * iqr_f\n",
    "inferior_f = df_2[\"Beneficios Febrero ($)\"].quantile(0.25) - 1.5 * iqr_f\n",
    "max_f = df_2[\"Beneficios Febrero ($)\"].max()\n",
    "min_f = df_2[\"Beneficios Febrero ($)\"].min()\n",
    "q3_f = df_2[\"Beneficios Febrero ($)\"].quantile(0.75)\n",
    "q1_f = df_2[\"Beneficios Febrero ($)\"].quantile(0.25)\n",
    "mediana_f = df_2[\"Beneficios Febrero ($)\"].median()\n",
    "\n",
    "print(f\"IQR: {iqr_f}, Outlier Sup: {superior_f}, Outilier Inf: {inferior_f}, \\\n",
    "Q1: {q1_f}, Q3: {q3_f}, Mediana: {mediana_f}\")"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "328403e4",
   "metadata": {},
   "source": [
    "### Beneficios Marzo"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 37,
   "id": "94284f71",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "IQR: 325.0, Outlier Sup: 3512.5, Outilier Inf: 2212.5, Q1: 2700.0, Q3: 3025.0, Mediana: 2800.0\n"
     ]
    }
   ],
   "source": [
    "std_m = df_2[\"Beneficios Marzo ($)\"].std(ddof=0)\n",
    "varianza_m = df_2[\"Beneficios Marzo ($)\"].var(ddof=0)\n",
    "rango_m = df_2[\"Beneficios Marzo ($)\"].max() - df_2[\"Beneficios Marzo ($)\"].min()\n",
    "iqr_m = df_2[\"Beneficios Marzo ($)\"].quantile(0.75) - df_2[\"Beneficios Marzo ($)\"].quantile(0.25)\n",
    "superior_m = df_2[\"Beneficios Marzo ($)\"].quantile(0.75) + 1.5 * iqr_m\n",
    "inferior_m = df_2[\"Beneficios Marzo ($)\"].quantile(0.25) - 1.5 * iqr_m\n",
    "max_m = df_2[\"Beneficios Marzo ($)\"].max()\n",
    "min_m = df_2[\"Beneficios Marzo ($)\"].min()\n",
    "q3_m = df_2[\"Beneficios Marzo ($)\"].quantile(0.75)\n",
    "q1_m = df_2[\"Beneficios Marzo ($)\"].quantile(0.25)\n",
    "mediana_m = df_2[\"Beneficios Marzo ($)\"].median()\n",
    "\n",
    "print(f\"IQR: {iqr_m}, Outlier Sup: {superior_m}, Outilier Inf: {inferior_m}, \\\n",
    "Q1: {q1_m}, Q3: {q3_m}, Mediana: {mediana_m}\")"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 38,
   "id": "1230d9d4",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Beneficios Enero ($)</th>\n",
       "      <th>Beneficios Febrero ($)</th>\n",
       "      <th>Beneficios Marzo ($)</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>count</th>\n",
       "      <td>4.000000</td>\n",
       "      <td>4.000000</td>\n",
       "      <td>4.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>mean</th>\n",
       "      <td>2597.500000</td>\n",
       "      <td>3081.250000</td>\n",
       "      <td>2925.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>std</th>\n",
       "      <td>118.427193</td>\n",
       "      <td>106.800047</td>\n",
       "      <td>330.403793</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>min</th>\n",
       "      <td>2500.000000</td>\n",
       "      <td>3000.000000</td>\n",
       "      <td>2700.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>25%</th>\n",
       "      <td>2500.000000</td>\n",
       "      <td>3000.000000</td>\n",
       "      <td>2700.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>50%</th>\n",
       "      <td>2575.000000</td>\n",
       "      <td>3050.000000</td>\n",
       "      <td>2800.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>75%</th>\n",
       "      <td>2672.500000</td>\n",
       "      <td>3131.250000</td>\n",
       "      <td>3025.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>max</th>\n",
       "      <td>2740.000000</td>\n",
       "      <td>3225.000000</td>\n",
       "      <td>3400.000000</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "       Beneficios Enero ($)  Beneficios Febrero ($)  Beneficios Marzo ($)\n",
       "count              4.000000                4.000000              4.000000\n",
       "mean            2597.500000             3081.250000           2925.000000\n",
       "std              118.427193              106.800047            330.403793\n",
       "min             2500.000000             3000.000000           2700.000000\n",
       "25%             2500.000000             3000.000000           2700.000000\n",
       "50%             2575.000000             3050.000000           2800.000000\n",
       "75%             2672.500000             3131.250000           3025.000000\n",
       "max             2740.000000             3225.000000           3400.000000"
      ]
     },
     "execution_count": 38,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "df_2.describe()"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "dc5d4781",
   "metadata": {},
   "source": [
    "### Diagrama de cajas"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 39,
   "id": "c7dea619",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAX0AAAD4CAYAAAAAczaOAAAAOXRFWHRTb2Z0d2FyZQBNYXRwbG90bGliIHZlcnNpb24zLjQuMiwgaHR0cHM6Ly9tYXRwbG90bGliLm9yZy8rg+JYAAAACXBIWXMAAAsTAAALEwEAmpwYAAAfS0lEQVR4nO3dfVRUZeIH8O84CmLyohZDriymoiImZmxasJnUgAKCKGyuZem64SYe8iVsklYkXcWXDVKPZUe3yH0pyQCNLTTck6CJYpJSU2qCgMGggoAoA4zP7w+O9ycibw6I8Hw/53AO9z7Pfe7z8DDfuXPvnRmVEEKAiIik0KOzO0BERPcOQ5+ISCIMfSIiiTD0iYgkwtAnIpJIz87uQHOys7NhaWnZ2d3oMEajsVuPr7vj/HVd3X3ujEYjxo4de8ey+zr0LS0t4eLi0tnd6DB6vb5bj6+74/x1Xd197vR6fZNlPL1DRCQRhj4RkUQY+kREEmHoExFJhKFPRCSRFkPfaDQiODgYAQEB8PPzw6ZNmxqUr169Go899piyXFNTg0WLFkGr1SIkJASFhYVK2bZt26DVauHj44P09PR2HAYREbVGi6FvYWGB+Ph47NmzB0lJSUhPT0d2djYA4NSpUygvL29QPyEhATY2Nti/fz/mzJmDjRs3AgDOnj2LlJQUpKSkYPv27YiOjobJZGr/ERERUZNaDH2VSoUHHngAAFBXV4e6ujqoVCqYTCasX78eERERDeofOHAAQUFBAAAfHx98++23EEIgLS0Nfn5+sLCwgKOjI5ycnHDy5MkOGBIRETWlVW/OMplMmD59OvLz8zFr1iy4ubkhPj4ezz77LOzt7RvUNRgMePjhh+sb79kT1tbWKCsrg8FggJubm1JPo9HAYDA0u1+j0djsmwy6uurq6m49vu6O83f/CggIwNmzZ81qY9iwYdizZ0879ej+0arQV6vVSE5ORkVFBcLCwnDs2DF89dVX2LlzZ4d2ju/IpfsZ5+/+debMmWbLB+tSkBfjd496c++12ztybWxsMH78eGRmZiI/Px/e3t7w8vLC9evXodVqAdQfwRcVFQGoPx1UWVmJfv36QaPRoLi4WGnLYDBAo9HczXiIiOgutRj6paWlqKioAFD/cvbw4cNwdXXFoUOHcODAARw4cABWVlbYv38/AMDLywuJiYkAgNTUVEyYMAEqlQpeXl5ISUlBTU0NCgoKkJeXhzFjxnTg0IiI6HYtnt4pKSmBTqeDyWSCEAKTJ0/GpEmTmqwfHByMiIgIaLVa2NraIjY2FgDg7OyMKVOmwNfXF2q1GitWrIBarW6/kRARUYtU9/MXo3f3c6bdfXzdHeev65LhnH5T/5t8Ry4RkUQY+kREEmHoExFJhKFPRCQRhj4RkUQY+kREEmHoExFJhKFPRCQRhj4RkUQY+kREEmHoExFJhKFPRCQRhj4RkUQY+kREEmHoExFJhKFPRCQRhj4RkUQY+kREEmHoExFJhKFPRCQRhj4RkUQY+kREEmHoExFJhKFPRCQRhj4RkUQY+kREEmHoExFJhKFPRCQRhj4RkUQY+kREEmHoExFJhKFPRCQRhj4RkUQY+kR3MHr0aKhUqmZ/Ro0a1Wz56NGjO3sYRI0w9InuICcnB0KIZn+c3vii2fKcnJzOHgZRIy2GvtFoRHBwMAICAuDn54dNmzYBAJYuXQofHx/4+/vjzTffRG1tLQBACIHVq1dDq9Vi6tSp+OGHH5S2EhMT4e3tDW9vbyQmJnbQkIiIqCkthr6FhQXi4+OxZ88eJCUlIT09HdnZ2QgICMBXX32FvXv3wmg0IiEhAQBw8OBB5OXlYd++fVi1ahVWrlwJALhy5Qq2bNmCXbt2ISEhAVu2bEF5eXmHDo6IiBpqMfRVKhUeeOABAEBdXR3q6uqgUqkwceJE5dzlmDFjYDAYAABpaWmYNm0aVCoVxo4di4qKCpSUlCAjIwMeHh6ws7ODra0tPDw8kJ6e3rGjIyKiBnq2ppLJZML06dORn5+PWbNmwc3NTSmrra1FcnIyIiMjAQAGgwEODg5KuYODAwwGQ6P1Go1GeaJoitFohF6vb9OAupLq6upuPT4ZcP66LlnnrlWhr1arkZycjIqKCoSFheH06dMYPnw4ACA6Ohru7u5wd3dv985ZWlrCxcWl3du9X+j1+m49vu7vHOevy+rec9fcE1qb7t6xsbHB+PHjldMyW7ZsQWlpKd58802ljkajQXFxsbJcXFwMjUbTaL3BYIBGo2nL7omIyEwthn5paSkqKioA1J+OOHz4MIYMGYKEhARkZGTgnXfeQY8e/9+Ml5cXkpKSIIRAdnY2rK2tYW9vD09PT2RkZKC8vBzl5eXIyMiAp6dnx42MiIgaafH0TklJCXQ6HUwmE4QQmDx5MiZNmoRRo0Zh4MCBeP755wEAWq0WCxcuxMSJE/HNN99Aq9XCysoKa9asAQDY2dlhwYIFCA4OBgCEhYXBzs6u40ZGRESNtBj6I0eORFJSUqP1P/744x3rq1QqREVF3bEsODhYCX0iIrr3+I5cIiKJMPSJiCTC0CcikghDn4hIIgx9IiKJMPSJiCTC0CcikghDn4hIIgx9IiKJtOpTNom6G7fofSi/Xmt2O4N1KWZtb2vVC99HeZvdD6LWYuiTlMqv1yIvxs+sNtrjo7HNfdIgaiue3iEikghDn4hIIgx9IiKJMPSJiCTC0CcikghDn4hIIgx9IiKJMPSJiCTC0CcikghDn4hIIgx9IiKJMPSJiCTC0CcikghDn4hIIgx9IiKJMPSJiCTCL1EhKfV5JBaPxuvMb+iouf3QADDvy1yI2oKhT1K6lruY35xFUuLpHSIiiTD0iYgkwtAnIpIIQ5+ISCK8kEtEXY5b9D6UX681qw1zL6LbWvXC91HeZrXRGRj6RNTllF+vNevuK5nvvGrx9I7RaERwcDACAgLg5+eHTZs2AQAKCgoQEhICrVaLRYsWoaamBgBQU1ODRYsWQavVIiQkBIWFhUpb27Ztg1arhY+PD9LT0ztoSERE1JQWQ9/CwgLx8fHYs2cPkpKSkJ6ejuzsbGzcuBFz5szB/v37YWNjg88++wwAkJCQABsbG+zfvx9z5szBxo0bAQBnz55FSkoKUlJSsH37dkRHR8NkMnXs6IiIqIEWQ1+lUuGBBx4AANTV1aGurg4qlQpHjhyBj48PACAoKAhpaWkAgAMHDiAoKAgA4OPjg2+//RZCCKSlpcHPzw8WFhZwdHSEk5MTTp482VHjIiKiO2jVOX2TyYTp06cjPz8fs2bNgqOjI2xsbNCzZ/3mDg4OMBgMAACDwYCHH364vvGePWFtbY2ysjIYDAa4ubkpbWo0GmWbphiNRuj1+rsaWFdQXV3drcd3v2vunOyvOxag9lK+We33evC3GDhva7N1+lr04P/AXTLn79Zej72uOHetCn21Wo3k5GRUVFQgLCwM586d6+h+AQAsLS3NvthyP2uPi0l0d/JiWvi7x5xvsQ3OX2c6Z9bfvn3mzrw+dKTmnozadJ++jY0Nxo8fj+zsbFRUVKCurg4AUFxcDI1GA6D+CL6oqAhA/emgyspK9OvXDxqNBsXFxUpbBoNB2YaIiO6NFkO/tLQUFRUVAOpfEh0+fBhDhw7F+PHjkZqaCgBITEyEl5cXAMDLywuJiYkAgNTUVEyYMAEqlQpeXl5ISUlBTU0NCgoKkJeXhzFjxnTUuIiI6A5aPL1TUlICnU4Hk8kEIQQmT56MSZMmYdiwYVi8eDHi4uLg4uKCkJAQAEBwcDAiIiKg1Wpha2uL2NhYAICzszOmTJkCX19fqNVqrFixAmq1umNHR0REDbQY+iNHjkRSUlKj9Y6OjsptmreytLRU7uW/3auvvopXX3217b0kIqJ2wc/eISKSCEOfiEgiDH0iIokw9ImIJMLQJyKSCEOfiEgiDH0iIokw9ImIJMLQJyKSCEOfiEgiDH0iIokw9ImIJMLQJyKSCEOfiEgiDH0iIokw9ImIJMLQJyKSCEOfiEgiDH0iIokw9ImIJMLQJyKSCEOfiEgiDH0iIokw9ImIJMLQJyKSCEOfiEgiDH0iIokw9ImIJMLQJyKSCEOfiEgiDH0iIokw9ImIJMLQJyKSCEOfiEgiDH0iIom0GPpFRUWYPXs2fH194efnh/j4eACAXq/HH/7wBwQGBmL69Ok4efIkAEAIgdWrV0Or1WLq1Kn44YcflLYSExPh7e0Nb29vJCYmdtCQiIioKT1bqqBWq6HT6eDq6oqrV69ixowZ8PDwwIYNGxAWFoaJEyfim2++wYYNG7Bz504cPHgQeXl52LdvH77//nusXLkSCQkJuHLlCrZs2YLdu3dDpVJh+vTp8PLygq2t7b0YJxERoRVH+vb29nB1dQUA9O3bF0OGDIHBYIBKpUJVVRUAoLKyEvb29gCAtLQ0TJs2DSqVCmPHjkVFRQVKSkqQkZEBDw8P2NnZwdbWFh4eHkhPT+/AoRER0e1aPNK/VWFhIfR6Pdzc3LB8+XLMmzcP69atw40bN/DJJ58AAAwGAxwcHJRtHBwcYDAYGq3XaDQwGAzN7s9oNEKv17eli11KdXV1tx5fd8f56zx9HonFo/E68xo5am4fNNDrh5jXSCdodehXVVUhPDwcy5cvR9++fREXF4c333wTPj4++O9//4vIyEh89NFH7do5S0tLuLi4tGub9xO9Xt+tx9fdcf46z7X4xciL8bvr7dtj7gbrUuAy//6c/+YORlp1905tbS3Cw8MxdepUeHt7A/j/i7IAMGXKFOVCrkajQXFxsbJtcXExNBpNo/UGgwEajabtoyEiorvWYugLIRAZGYkhQ4Zg7ty5ynp7e3scPVr/+ujIkSMYPHgwAMDLywtJSUkQQiA7OxvW1tawt7eHp6cnMjIyUF5ejvLycmRkZMDT07NjRkVERHfU4umd48ePIzk5GcOHD0dgYCAAYMmSJVi1ahXWrFmDuro6WFpa4u233wYA5W4erVYLKysrrFmzBgBgZ2eHBQsWIDg4GAAQFhYGOzu7DhoWERHdSYuh7+7ujp9//vmOZZ9//nmjdSqVClFRUXesHxwcrIQ+ERHde3xHLhGRRBj6REQSYegTEUmEoU9EJBGGPhGRRBj6REQSYegTEUmEod+BRo8eDZVK1eTPqFGjmi1XqVQYPXp0Zw+DiLoRhn4HysnJgRCiyR+nN75otlwIgZycnM4eBhF1Iwx9IiKJMPSJiCTC0CcikghDn4hIIgx9IiKJMPSJiCTC0CcikkirvxidiOh+MliX0mTZrzsWoPZSvlnt93rwtxg4b2uT5bZWvcxqv7Mw9Imoy8mL8Wu+Qsz5Zov1ej1cXFzasUddB0/vEBFJhKFPRCQRhj4RkUQY+kREEuGFXDO4Re9D+fVas9po7g6E1rC16oXvo7zNaoOI5MHQN0P59dqW7yJoRnvcQWDukwYRyYWnd4iIJMLQJyKSCEOfiEgiDH0iIokw9ImIJMLQJyKSCEOfiEgiDH0iIokw9ImIJMLQJyKSCEOfiEgiLYZ+UVERZs+eDV9fX/j5+SE+Pl4p27lzJyZPngw/Pz+sX79eWb9t2zZotVr4+PggPT1dWX/w4EH4+PhAq9Xigw8+aOehEBFRS1r8wDW1Wg2dTgdXV1dcvXoVM2bMgIeHBy5duoS0tDTs2bMHFhYWuHz5MgDg7NmzSElJQUpKCgwGA+bOnYvU1FQAwNtvv40PP/wQGo0GwcHB8PLywrBhwzp2hEREpGgx9O3t7WFvbw8A6Nu3L4YMGQKDwYBdu3YhNDQUFhYWAIABAwYAANLS0uDn5wcLCws4OjrCyckJJ0+eBAA4OTnB0dERAODn54e0tDSGPhHRPdSmj1YuLCyEXq+Hm5sb1q9fj6ysLMTGxsLS0hLLli3DmDFjYDAY4Obmpmyj0WhgMBgAAA4ODg3W33wyaIrRaIRer29LF+85c/pXXV3dLuO73/9G3VV7zR/dezLPXatDv6qqCuHh4Vi+fDn69u0Lk8mE8vJy7Nq1C6dOncKiRYuQlpbWrp2ztLS8z7+x/pxZ/WuPz9M3tw9099pn/qgzdPe5a+4JrVWhX1tbi/DwcEydOhXe3vXf0qTRaKDVaqFSqTBmzBj06NEDZWVl0Gg0KC4uVrY1GAzQaDQA0OR6IiK6N1q8e0cIgcjISAwZMgRz585V1j/33HPIzMwEAOTm5qK2thb9+vWDl5cXUlJSUFNTg4KCAuTl5WHMmDF49NFHkZeXh4KCAtTU1CAlJQVeXl4dNzIiImqkxSP948ePIzk5GcOHD0dgYCAAYMmSJZgxYwaWL18Of39/9OrVCzExMVCpVHB2dsaUKVPg6+sLtVqNFStWQK1WAwBWrFiBP//5zzCZTJgxYwacnZ07dnRERNSASgghOrsTTbnfz7uN2vYc1L0NndoHU7UGP87/ulP7IKv7/f+Tmtbd56658fGL0c1wLXcxvxidiLoUfgwDEZFEGPpERBJh6BMRSYShT0QkEYY+EZFEGPpERBJh6BMRSYShT0QkEYY+EZFEGPpERBJh6BMRSYShT0QkEYY+EZFEGPpERBJh6BMRSYSfp2+m5j7P/tcdC1B7Kd+s9ns9+FsMnLe1yXJbq15mtU9EcmHom6HFL1CJOd9scXf/9h4iuv/w9A4RkUQY+kREEmHoExFJhKFPRCQRhj4RkUQY+kREEmHoExFJhKFPRCQRlRBCdHYnmpKdnQ1LS8vO7gYRUZdiNBoxduzYO5bd16FPRETti6d3iIgkwtAnIpIIQ5+ISCIMfSIiiTD0iYgkwtAnIpJIlw19FxcXBAYGIiAgAEFBQfjuu+/afR+lpaUICQnBtGnTkJWVhVdeeQUVFRVN1v/Pf/6DpKQks/aZmZmJxx9/HIGBgcrP4cOHzWqzrT766KNG49i8eXOD5dLSUsybN69V7ckyV3PmzGm2/mOPPWbW/u7W3/72Nxw7dqzButvn8+eff4ZOp2uxre48lyNGjEBCQoKyTq/XY8SIEdixY4dZbbdFSUkJ5s+f32Dd559/jsLCwgbrFi9ejLy8vLvbieiixo4dq/x+8OBB8cILL7T7Pr744guxfPnydm+3OUeOHBGhoaHt3m5tbW2r6/n7+yv1z5w5I1544QXx1FNPiWnTpom9e/cqdXU6ncjKymqxTc5VvVv/Dk1pyzy1RmlpqQgJCVGWjx07JoKDg8VTTz0lpk+fLg4fPqyUvfzyy+LChQvNtted59Lf31/MnTtXWbd+/XoREBAgtm/f3up2WjsvTYmJiRH79+8XQghRV1cn/vrXv4qnn35a+Pj4iKVLlyr1MjMzRWRk5F3to1t8XeLVq1dhY2OjLG/fvh1ffvklampqoNVqER4ejsLCQrzyyit4/PHHceLECWg0GmzduhW9e/dGfn4+oqOjUVZWht69e2PVqlWoqanBhg0bUF1djZycHHz66afw9fXFZ599hv79+yMpKQk7duyASqXCiBEjsGHDBmzevBl9+vTBvHnzoNfrERUVhevXr+O3v/0t1qxZA1tbW3z88cf45JNPoFarMWzYMMTGxrZqjG3t/9ChQ6HT6WBhYQG9Xo9x48Zh2rRpd+zTrY4cOQJXV1f07Fn/r7F582bMmDFD2b/BYFDqPvvss9i7dy8ef/xxztUtkpOTsXPnTtTW1sLNzQ1RUVFQq9UAgDVr1uDQoUN48MEHERsbi/79+2P27NkYOXIkjh8/Dn9/fzzxxBOIiYnBtWvX0K9fP6xduxb29vaN6rm4uGDdunUwmUwYPXo0oqOjYWFh0aAv+/btw+9//3tlOSYmBsuWLUNmZibmzJmDyspKpWzSpElISUnBK6+8IuVcDhw4EFevXsWlS5cwYMAApKenY+LEiUr5rl278Omnn6K2thZOTk5Yv349rKysGj3Ozp07h5KSEgD1j9u33noLvr6+WLlyJXJycqBWq6HT6TBhwoRGfdi3bx8WL14MAMjIyEB+fj4WLlyIJ598ElVVVUo9d3d36HQ61NXVKY/VVjPraakTjRw5UgQEBAgfHx8xbtw4cerUKSGEEOnp6eKtt94SN27cECaTSYSGhoqjR4+KgoIC4eLiIn788UchhBDh4eEiKSlJCCHESy+9JHJzc4UQQmRnZ4vZs2cLIYTYvXu3iI6OVvY5adIkcfnyZXH69Gnh7e0tLl++LIQQoqysTAghxKZNm5SjAn9/f5GZmSmEECIuLk6sXr1aCCGEh4eHMBqNQgghysvLG43ryJEjYty4cSIgIED5OX/+/F31/4033hChoaGirq6u2T7d6t133xUff/yxsrx06VKxY8cOERcX16hucXGx8Pf3b7T+drLM1datW8XZs2fF/PnzRU1NjRBCiKioKJGYmCiEEGL48OEiOTlZCCHE5s2blf6++OKLIioqSgghRE1NjXj++eeV/qakpAidTteoXnV1tXj66afFuXPnhBBCREREiA8//LBRH5ctWybS0tKU5ZkzZ4ovv/xSbNq0qVHdrKwsMX/+/Ebrb9Wd5zI0NFTEx8eLnTt3iqysLKHT6Rq0XVpaqtR/5513lMfJ7Y+zm06dOiX8/f1FRUWF2LFjhzKPZ8+eFRMnThTV1dUN6ufn54ugoCBl+dChQ+L5558XH330kSgoKGjU5zlz5ih//7boskf6vXv3RnJyMgDgxIkTeOONN/DFF1/g0KFDOHToEKZNmwYAuHbtGvLy8vDwww9j0KBByheRu7q64sKFC6iqqsKJEyfw2muvKW3X1NQ0u+8jR45g8uTJ6N+/PwDAzs6uQXllZSUqKyvxxBNPAACCgoKU9keMGIHXX38dzz77LJ577rk7tu/u7o5t27Y1WFdYWHhX/Z88eTLUanWzfbrVxYsXMXToUGU5IiIC69evR3p6OvR6PRYtWoSRI0cCAPr3768c0TRHprn65z//iZycHAQHBwMAqqurMWDAAABAjx494OvrCwAIDAzEwoULle1urs/NzcXp06cxd+5cAMCNGzfw0EMP3bHeoEGD8Mgjjyj9/te//tXousLFixeVsQPAqlWrsHHjRnz33XfIzc3FkiVLMGjQIADAgAEDWpzP7jyXADBlyhQsXrwY586dg5+fH06cOKGUnTlzBnFxcaisrERVVRU8PT2VspuPs5tKS0uxbNkyxMXFwdraGsePH8eLL74IABg6dCgGDhyI3Nxc5bEE1M9Vv379lOWnnnoKOTk5iI+Px+7duzFz5kzMmjVLKW/t4+92XTb0b/XYY4+hrKwMpaWlEEIgNDQUM2fObFCnsLCwwUtftVoNo9EIIQRsbGyUf+SO9sEHH+DYsWP43//+h/fffx979+5t9cuzu+m/lZVVm/pnaWkJo9GoLGs0Gvz973/Hu+++i0cffRQLFy7E119/DaD+Q53a+oF43X2uhBAICgrC0qVLW2xfpVIpv9+cJyEEnJ2d8emnn95xG3Pnc9iwYXj//fcRGxsLe3t7REZGIj4+HkDb57M7zuVDDz2Enj174tChQ4iMjGwQ+jqdDlu3bsXIkSPx+eef4+jRo0rZrfNiMpmwZMkShIWFYfjw4a3uY+/evRs98YWGhuLBBx+Eo6MjVq9ejeHDh8Pd3R1A/ZNk7969W93+TV327p1b/fLLLzCZTLCzs4Onpyd2796tnP8yGAy4fPlyk9v27dsXgwYNwpdffgmg/kH3008/Nbu/CRMm4KuvvkJZWRkA4MqVKw3Kra2tYWNjg6ysLAD153h/97vf4caNGygqKsKECRPw+uuvo7KyEteuXbvbYbep/0316XZDhw7F+fPnleUzZ84AqD9KdXV1xfXr15WyvLw8ODs7t6m/3X2unnzySaSmpirjuHLlCi5cuACg/qg9NTUVAJq8FvLII4+gtLRUCZva2lplDm6vd+HCBWWumpvP/Px8Zfn06dMAgJ49e8LV1bXBeeK2zmd3ncvw8HBEREQ0OHIHgKqqKjz00EOora3F3r17m9x+48aNGDFiBPz8/JR17u7uyja5ubkoKirCkCFDGmw3ePBg5X8FgPKKCAAcHBxgb29v1nzd1GWP9KurqxEYGAig/h9m3bp1UKvV8PT0xC+//KIccfTp0wcbNmxAjx5NP79t2LABK1euxHvvvYe6ujr4+vo2eNl1O2dnZ/zlL3/B7Nmz0aNHD4waNQoxMTEN6qxbt065oOTo6Ii1a9fCZDIhIiICV69ehRACL730UoMLYTdlZWUpYwOAV199FaNHjza7/3fq0+2efvppLFu2TFnev38/3nrrLRgMBqSmpiIyMlIpy8zMxDPPPNNkv27qznN1u2HDhmHRokX405/+hBs3bqBXr15YsWIFfvOb36BPnz44efIk3nvvPfTv3x9xcXGNtrewsMCmTZuwevVqVFZWwmQy4eWXX2704La0tMTatWvx2muvKRdy//jHPzZq75lnnsEnn3yCkJAQAMC///1v/PTTTygqKsLXX3+N5cuXK3VbM58yzOW4cePuuP61115DSEgI+vfvDzc3twYBfKt//OMfcHZ2Vv5O4eHhmDVrFlauXImpU6dCrVZj7dq1jS669+nTB46Ojjh//jycnJxw8eJFRERE4PLly/jggw8wduxY5ZTSpUuXYGlp2eDUX6u1+SoAdXsLFixQLrDddKcLf7NmzRJXrly5R72iuzVz5sxGFy9vn0+j0ShCQkLMvuWQzLNv3z7xzjvvNFi3e/fuRhdyP/zwQ7Fr16672ke3OL1D7Wvp0qW4ePFig3U3L47dVFpairlz5za65ZPuPzqdDr/++muDdbfP56+//oqlS5e2/fY/aldarVa5sH6Ti4tLo1cm1tbWCAoKuqt98EtUiIgkwiN9IiKJMPSJiCTC0CcikghDn4hIIgx9IiKJ/B9YNnoQRu971QAAAABJRU5ErkJggg==\n",
      "text/plain": [
       "<Figure size 432x288 with 1 Axes>"
      ]
     },
     "metadata": {},
     "output_type": "display_data"
    }
   ],
   "source": [
    "boxplot = df_2.boxplot(column=[\"Beneficios Enero ($)\", \"Beneficios Febrero ($)\", \"Beneficios Marzo ($)\"])"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 40,
   "id": "05aabf22",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "<AxesSubplot:>"
      ]
     },
     "execution_count": 40,
     "metadata": {},
     "output_type": "execute_result"
    },
    {
     "data": {
      "image/png": "iVBORw0KGgoAAAANSUhEUgAAAX0AAAD4CAYAAAAAczaOAAAAOXRFWHRTb2Z0d2FyZQBNYXRwbG90bGliIHZlcnNpb24zLjQuMiwgaHR0cHM6Ly9tYXRwbG90bGliLm9yZy8rg+JYAAAACXBIWXMAAAsTAAALEwEAmpwYAAAgPUlEQVR4nO3dfVjV9f3H8efhGCgpKi4Olc5N8YYs0XLLpcukHUHAe1jNsulatqUXWU5H2rwpZ6aWjry6u2rF3E3pTMgob6JtoV6amk4tNqUk1ORoHgWUuDt+fn/w87sIFZSDCN/X47q8Ls/3+zmf7/vDh/M6Xz7fc+MwxhhERMQWAhq7ABERuXwU+iIiNqLQFxGxEYW+iIiNKPRFRGykRWMXcCG7du0iKCioscsQEWlSysrK6NOnzzn3XdGhHxQURGRkZGOXISLSpOTk5Jx3n5Z3RERsRKEvImIjCn0RERtR6IuI2IhCX0TERmoN/bKyMhITExk+fDjx8fGkpqZW2z9v3jz69u1r3S4vL2fKlCm43W6SkpI4dOiQte+ll17C7XYTExNDdna2H4chIiJ1UWvoBwYGkpaWxttvv016ejrZ2dns2rULgD179lBYWFit/cqVKwkJCWHDhg2MHz+exYsXA5Cbm0tmZiaZmZm88sorzJ07F5/P5/8RiYjIedX6On2Hw8HVV18NQGVlJZWVlTgcDnw+HwsXLuSZZ57h/ffft9p/8MEHTJ48GYCYmBieeOIJjDFkZWURHx9PYGAgnTp1onPnzuzevbvaXwkiImetXbuWd9991+/9er1eAEJDQ/3eN0BcXByxsbEN0rc/1OnNWT6fj9GjR5Ofn8/YsWOJiooiLS2NO++8k7CwsGptPR4P1157bVXnLVrQpk0bTpw4gcfjISoqymrncrnweDwXPG5ZWdkF32QgIs3Xl19+SUlJid/7PXbsGAAtW7b0e99QVfeVnFt1Cn2n00lGRgZFRUVMmjSJbdu2sXbtWpYvX96gxekduSL2FRkZyS9+8Qu/95ucnAxQ4/pkc+K3d+SGhIRw6623snXrVvLz8xkyZAjR0dF8/fXXuN1uoOoM/siRI0DVclBxcTHt27fH5XJRUFBg9eXxeHC5XJcyHhERuUS1hr7X66WoqAiA0tJSNm/eTK9evdi0aRMffPABH3zwAa1atWLDhg0AREdHs3r1agDWrVtH//79cTgcREdHk5mZSXl5OQcPHiQvL4/evXs34NBEROTbal3eOXr0KCkpKfh8PowxxMbGMnjw4PO2T0xMZNq0abjdbtq2bcuSJUsA6NatG0OHDiUuLg6n08msWbNwOp3+G4mIiNTKcSV/MXpOTo7W9EXEr+yypn++7NQ7ckVEbEShLyJiIwp9EREbUeiLiNiIQl9ExEYU+iIiNqLQFxGxEYW+iIiNKPRFRGxEoS8iYiMKfRERG1Hoi4jYiEJfRMRGFPoiIjai0BcRsRGFvoiIjSj0RURsRKEvImIjCn0RERtR6IuI2IhCX0TERhT6IiI2otAXEbERhb6IiI0o9EVEbEShLyJiIwp9EREbUeiLiNiIQl9ExEYU+iIiNqLQFxGxEYW+iIiNtGjsAkQa0tq1a3n33Xf93q/X6wUgNDTU733HxcURGxvr935FQKEvckmOHz8ONEzoizQkhb40a7GxsQ1y1pycnAxAamqq3/sWaUi1rumXlZWRmJjI8OHDiY+Pt37Jp06dSkxMDAkJCTz22GNUVFQAYIxh3rx5uN1uhg0bxieffGL1tXr1aoYMGcKQIUNYvXp1Aw1JRETOp9bQDwwMJC0tjbfffpv09HSys7PZtWsXw4cPZ+3ataxZs4aysjJWrlwJwIcffkheXh7r16/nySefZM6cOQCcPHmSZcuWsWLFClauXMmyZcsoLCxs0MGJiEh1tYa+w+Hg6quvBqCyspLKykocDgeDBg3C4XDgcDjo3bs3Ho8HgKysLEaOHInD4aBPnz4UFRVx9OhRNm7cyIABA2jXrh1t27ZlwIABZGdnN+zoRESkmjqt6ft8PkaPHk1+fj5jx44lKirK2ldRUUFGRgYzZ84EwOPxEB4ebu0PDw/H4/HU2O5yuawnivMpKysjJyfnogYkcjmUlJQA6PezCbL73NUp9J1OJxkZGRQVFTFp0iT27dtH9+7dAZg7dy79+vWjX79+fi8uKCiIyMhIv/crUl/BwcEA+v1sguwwdxd6QruoN2eFhIRw6623Wssyy5Ytw+v18thjj1ltXC4XBQUF1u2CggJcLleN7R6PB5fLdTGHFxGReqo19L1eL0VFRQCUlpayefNmunTpwsqVK9m4cSPPPvssAQH/6yY6Opr09HSMMezatYs2bdoQFhbGwIED2bhxI4WFhRQWFrJx40YGDhzYcCMTEZEaal3eOXr0KCkpKfh8PowxxMbGMnjwYG644Qauu+467rrrLgDcbjeTJ09m0KBB/Otf/8LtdtOqVSvmz58PQLt27XjooYdITEwEYNKkSbRr167hRiYiIjXUGvo9e/YkPT29xvZPP/30nO0dDgezZ88+577ExEQr9EVE5PLTB66JiNiIQl9ExEYU+iIiNqLQFxGxEYW+iIiNKPRFRGxEoS8iYiMKfRERG9E3Z0mjS01NJTc3t7HLuCj79+8H/vcNWk1BREREk6pXGoZCXxpdbm4u+/Z+zHdb+xq7lDoLMQ4ASvO2NXIldZN/ytnYJcgVQqEvV4TvtvbxeL9TjV1GszVve+vGLkGuEFrTFxGxEYW+iIiNKPRFRGxEoS8iYiMKfRERG1Hoi4jYiEJfRMRGFPoiIjai0BcRsRGFvoiIjSj0RURsRKEvImIjCn0RERtR6IuI2IhCX0TERvR5+tLovF4vx4qd+sz3BvRFsZNrvN7GLkOuADrTFxGxEZ3pS6MLDQ0luOgzfXNWA5q3vTUtQ0Mbuwy5AuhMX0TERhT6IiI2otAXEbERremLSL2kpqaSm5vb2GXU2f79+wFITk5u5EouTkREhF9qVuiLSL3k5uay85Od0K6xK6mj/1/f2Hl4Z+PWcTFO+q8rhb6I1F87OHPHmcauotkK+Kf/VuJr7amsrIzExESGDx9OfHw8qampABw8eJCkpCTcbjdTpkyhvLwcgPLycqZMmYLb7SYpKYlDhw5Zfb300ku43W5iYmLIzs722yBERKRuag39wMBA0tLSePvtt0lPTyc7O5tdu3axePFixo8fz4YNGwgJCeHvf/87ACtXriQkJIQNGzYwfvx4Fi9eDFT9CZiZmUlmZiavvPIKc+fOxefzNezoRESkmlqXdxwOB1dffTUAlZWVVFZW4nA42LJlC8888wwAo0aNYtmyZYwdO5YPPviAyZMnAxATE8MTTzyBMYasrCzi4+MJDAykU6dOdO7cmd27d9O3b98GHJ40FfmnGuZjGArLHZwsa1ovUmsXdIa2gcavfeafctLdrz1KU1WnNX2fz8fo0aPJz89n7NixdOrUiZCQEFq0qLp7eHg4Ho8HAI/Hw7XXXlvVeYsWtGnThhMnTuDxeIiKirL6dLlc1n3Op6ysjJycnEsamDQdoaGhdOzSk4ZYETZFRVBY2AA9NxwT0pYzISF+7bNjWNXPuSEeTyUlJX7vU2oqKSnxy/zVKfSdTicZGRkUFRUxadIkPv/883ofuC6CgoKIjIy8LMeSxjNnzpzGLkHqITg4GE40dhXNX3BwcJ3z8EJPDhf1d29ISAi33noru3btoqioiMrKSgAKCgpwuVxA1Rn8kSNHgKrloOLiYtq3b4/L5aKgoMDqy+PxWPcREZHLo9bQ93q9FBUVAVBaWsrmzZvp2rUrt956K+vWrQNg9erVREdHAxAdHc3q1asBWLduHf3798fhcBAdHU1mZibl5eUcPHiQvLw8evfu3VDjEhGRc6h1eefo0aOkpKTg8/kwxhAbG8vgwYOJiIjgkUceYenSpURGRpKUlARAYmIi06ZNw+1207ZtW5YsWQJAt27dGDp0KHFxcTidTmbNmoXT6WzY0YmISDUOY4x/XybgRzk5OVrTF7nCJScns/PwTr05qwEF/DOAvtf3td4nVZsLZWfTei2biIjUi0JfRMRGFPoiIjai0BcRsRGFvoiIjSj0RURsRKEvImIjCn0RERtR6IuI2IhCX0TERhT6IiI2otAXEbERhb6IiI0o9EVEbEShLyJiIwp9EREbUeiLiNiIQl9ExEYU+iIiNqLQFxGxEYW+iIiNKPRFRGxEoS8iYiMKfRERG1Hoi4jYiEJfRMRGFPoiIjai0BcRsRGFvoiIjSj0RURsRKEvImIjCn0RERtR6IuI2IhCX0TERhT6IiI2UmvoHzlyhHHjxhEXF0d8fDxpaWkA5OTk8NOf/pQRI0YwevRodu/eDYAxhnnz5uF2uxk2bBiffPKJ1dfq1asZMmQIQ4YMYfXq1Q00JBEROZ8WtTVwOp2kpKTQq1cvTp06xZgxYxgwYACLFi1i0qRJDBo0iH/9618sWrSI5cuX8+GHH5KXl8f69ev597//zZw5c1i5ciUnT55k2bJlrFq1CofDwejRo4mOjqZt27aXY5wiIkIdQj8sLIywsDAAWrduTZcuXfB4PDgcDk6fPg1AcXGx1SYrK4uRI0ficDjo06cPRUVFHD16lI8++ogBAwbQrl07AAYMGEB2djYJCQkNNDQRuRy8Xi+chIB/arW4wZwEbyuvX7qqNfS/6dChQ+Tk5BAVFcWMGTO4//77efrppzlz5gxvvPEGAB6Ph/DwcOs+4eHheDyeGttdLhcej+eCxysrKyMnJ+diShSRy6y8vLyxS7CF8vJyv+RhnUP/9OnTJCcnM2PGDFq3bs3SpUt57LHHiImJ4d1332XmzJm8/vrr9S7om4KCgoiMjPRrnyLiX+Hh4RzxHeHMHWcau5RmK+CfAYSHh9c5Dy/05FCnv8cqKipITk5m2LBhDBkyBPjfRVmAoUOHWhdyXS4XBQUF1n0LCgpwuVw1tns8HlwuV50GICIi/lFr6BtjmDlzJl26dGHChAnW9rCwMD766CMAtmzZwve+9z0AoqOjSU9PxxjDrl27aNOmDWFhYQwcOJCNGzdSWFhIYWEhGzduZODAgQ0zKhEROadal3d27NhBRkYG3bt3Z8SIEQA8+uijPPnkk8yfP5/KykqCgoJ44oknAKxX87jdblq1asX8+fMBaNeuHQ899BCJiYkATJo0ybqoKyIil0etod+vXz/++9//nnPfW2+9VWObw+Fg9uzZ52yfmJhohb6IiFx+eo2ViIiNKPRFRGxEoS8iYiMKfRERG1Hoi4jYiEJfRMRGLuqzd+xo7dq1vPvuu37v1+ut+vCk0NBQv/cNEBcXR2xsbIP0LSJNl0K/kRw/fhxouNAXETkXhX4tYmNjG+SMOTk5GYDU1FS/9y0icj5a0xcRsRGFvoiIjSj0RURsRKEvImIjCn0RERtR6IuI2Ihesiki9Xey6ntc/ar0//81NS3//58/nQSu909XCn0RqZeIiIgG6dfr9VpvYmxKOrTv4P83XV7vv5+zQl9E6uXsGw2ladCavoiIjSj0RURsRKEvImIjzWZNPzU1ldzc3MYuo872798PNL310IiIiCZXs4j8T7MJ/dzcXHbu+ZQzwU3jo4odvqof/Y7PChq5kroLKPE2dgkiUk/NJvQBzgSHUnpDQmOX0Wy1/PSdxi5BROpJa/oiIjai0BcRsRGFvoiIjSj0RURsRKEvImIjCn0RERtR6IuI2IhCX0TERhT6IiI2otAXEbERhb6IiI3UGvpHjhxh3LhxxMXFER8fT1pamrVv+fLlxMbGEh8fz8KFC63tL730Em63m5iYGLKzs63tH374ITExMbjdbl5++WU/D0VERGpT6weuOZ1OUlJS6NWrF6dOnWLMmDEMGDCAr776iqysLN5++20CAwOt77LMzc0lMzOTzMxMPB4PEyZMYN26dQA88cQTvPbaa7hcLhITE4mOjm6w79cUEZGaag39sLAwwsLCAGjdujVdunTB4/GwYsUKJk6cSGBgIAAdOnQAICsri/j4eAIDA+nUqROdO3dm9+7dAHTu3JlOnToBEB8fT1ZWlkJfROQyuqiPVj506BA5OTlERUWxcOFCtm/fzpIlSwgKCmL69On07t0bj8dDVFSUdR+Xy4XH4wEgPDy82vazTwbnU1ZWRk5OTp1qKykpuZihyCUqKSmp85yIyJWnzqF/+vRpkpOTmTFjBq1bt8bn81FYWMiKFSvYs2cPU6ZMISsry6/FBQUFERkZWae2wcHBQJFfjy81BQcH13lORKRxXOjErE6hX1FRQXJyMsOGDWPIkCFA1Zm62+3G4XDQu3dvAgICOHHiBC6Xi4KC/30blMfjweVyAZx3u4iIXB61vnrHGMPMmTPp0qULEyZMsLb/5Cc/YevWrQAcOHCAiooK2rdvT3R0NJmZmZSXl3Pw4EHy8vLo3bs3N910E3l5eRw8eJDy8nIyMzOJjo5uuJGJiEgNtZ7p79ixg4yMDLp3786IESMAePTRRxkzZgwzZswgISGBq666igULFuBwOOjWrRtDhw4lLi4Op9PJrFmzcDqdAMyaNYtf/vKX+Hw+xowZQ7du3fw2EK/XS0DJcX2lXwMKKDmO1xvY2GWISD04jDGmsYs4n5ycnDqvH9977718cfgIZ4I7NHBV9hVQcpzO11/Ln//858YuRUQu4ELZ2Wy+GD00NJQDJ8r1xegNqOWn7xAaGtrYZYhIPehjGEREbEShLyJiIwp9EREbUeiLiNiIQl9ExEYU+iIiNqLQFxGxEYW+iIiNKPRFRGxEoS8iYiMKfRERG1Hoi4jYiEJfRMRGFPoiIjbSbD5aGSCgxOv3L1FxVHyNo6Lpfem6uSoYc1Urv/YZUOIFwmttJyJXrmYT+hEREQ3Sr9fr5fjxygbpuyF16NC2AT77PrzBfs4icnk0m9BPTk5u7BJERK54WtMXEbERhb6IiI0o9EVEbEShLyJiIwp9EREbUeiLiNiIQl9ExEYU+iIiNnJFvzmrrKyMnJycxi5DRKRJKSsrO+8+hzHGXMZaRESkEWl5R0TERhT6IiI2otAXEbERhb6IiI0o9EVEbEShLyJiI0029CMjIxkxYgTDhw9n1KhRfPzxx34/htfrJSkpiZEjR7J9+3YeeOABioqKztv+b3/7G+np6fU65tatW7nlllsYMWKE9W/z5s316vNivf766zXG8dxzz1W77fV6uf/+++vUn13mavz48Rds37dv33od71L9/ve/Z9u2bdW2fXs+//vf/5KSklJrX815Lnv06MHKlSutbTk5OfTo0YNXX321Xn1fjKNHj/Lggw9W2/bWW29x6NChatseeeQR8vLyLu0gponq06eP9f8PP/zQ3HPPPX4/xjvvvGNmzJjh934vZMuWLWbixIl+77eioqLO7RISEqz2+/fvN/fcc4+57bbbzMiRI82aNWustikpKWb79u219qm5qvLNn8P5XMw81YXX6zVJSUnW7W3btpnExERz2223mdGjR5vNmzdb+37+85+bw4cPX7C/5jyXCQkJZsKECda2hQsXmuHDh5tXXnmlzv3UdV7OZ8GCBWbDhg3GGGMqKyvN7373O3P77bebmJgYM3XqVKvd1q1bzcyZMy/pGFf0O3Lr6tSpU4SEhFi3X3nlFd577z3Ky8txu90kJydz6NAhHnjgAW655RZ27tyJy+Xi+eefp2XLluTn5zN37lxOnDhBy5YtefLJJykvL2fRokWUlpayd+9e3nzzTeLi4vj73/9OaGgo6enpvPrqqzgcDnr06MGiRYt47rnnCA4O5v777ycnJ4fZs2fz9ddf893vfpf58+fTtm1b/vSnP/HGG2/gdDqJiIhgyZIldRrjxdbftWtXUlJSCAwMJCcnh5tvvpmRI0ees6Zv2rJlC7169aJFi6pfjeeee44xY8ZYx/d4PFbbO++8kzVr1nDLLbdorr4hIyOD5cuXU1FRQVRUFLNnz8bpdAIwf/58Nm3axHe+8x2WLFlCaGgo48aNo2fPnuzYsYOEhAR++MMfsmDBAkpKSmjfvj1PPfUUYWFhNdpFRkby9NNP4/P5uPHGG5k7dy6BgYHValm/fj0//vGPrdsLFixg+vTpbN26lfHjx1NcXGztGzx4MJmZmTzwwAO2nMvrrruOU6dO8dVXX9GhQweys7MZNGiQtX/FihW8+eabVFRU0LlzZxYuXEirVq1qPM4+//xzjh49ClQ9bh9//HHi4uKYM2cOe/fuxel0kpKSQv/+/WvUsH79eh555BEANm7cSH5+PpMnT+ZHP/oRp0+fttr169ePlJQUKisrrcdqndXraakR9ezZ0wwfPtzExMSYm2++2ezZs8cYY0x2drZ5/PHHzZkzZ4zP5zMTJ040H330kTl48KCJjIw0n376qTHGmOTkZJOenm6MMea+++4zBw4cMMYYs2vXLjNu3DhjjDGrVq0yc+fOtY45ePBgc/z4cbNv3z4zZMgQc/z4cWOMMSdOnDDGGJOammqdFSQkJJitW7caY4xZunSpmTdvnjHGmAEDBpiysjJjjDGFhYU1xrVlyxZz8803m+HDh1v/vvjii0uq/7e//a2ZOHGiqaysvGBN3/SHP/zB/OlPf7JuT5061bz66qtm6dKlNdoWFBSYhISEGtu/zS5z9fzzz5vc3Fzz4IMPmvLycmOMMbNnzzarV682xhjTvXt3k5GRYYwx5rnnnrPqvffee83s2bONMcaUl5ebu+66y6o3MzPTpKSk1GhXWlpqbr/9dvP5558bY4yZNm2aee2112rUOH36dJOVlWXdvvvuu817771nUlNTa7Tdvn27efDBB2ts/6bmPJcTJ040aWlpZvny5Wb79u0mJSWlWt9er9dq/+yzz1qPk28/zs7as2ePSUhIMEVFRebVV1+15jE3N9cMGjTIlJaWVmufn59vRo0aZd3etGmTueuuu8zrr79uDh48WKPm8ePHWz//i9Fkz/RbtmxJRkYGADt37uS3v/0t77zzDps2bWLTpk2MHDkSgJKSEvLy8rj22mvp2LEjkZGRAPTq1YvDhw9z+vRpdu7cycMPP2z1XV5efsFjb9myhdjYWEJDQwFo165dtf3FxcUUFxfzwx/+EIBRo0ZZ/ffo0YPf/OY33HnnnfzkJz85Z//9+vXjpZdeqrbt0KFDl1R/bGwsTqfzgjV907Fjx+jatat1e9q0aSxcuJDs7GxycnKYMmUKPXv2BCA0NNQ6o7kQO83Vn//8Z/bu3UtiYiIApaWldOjQAYCAgADi4uIAGDFiBJMnT7bud3b7gQMH2LdvHxMmTADgzJkzXHPNNeds17FjR77//e9bdf/lL3+pcV3h2LFj1tgBnnzySRYvXszHH3/MgQMHePTRR+nYsSMAHTp0qHU+m/NcAgwdOpRHHnmEzz//nPj4eHbu3Gnt279/P0uXLqW4uJjTp08zcOBAa9/Zx9lZXq+X6dOns3TpUtq0acOOHTu49957AejatSvXXXcdBw4csB5LUDVX7du3t27fdttt7N27l7S0NFatWsXdd9/N2LFjrf11ffx9W5MN/W/q27cvJ06cwOv1Yoxh4sSJ3H333dXaHDp0qNqfvk6nk7KyMowxhISEWL/IDe3ll19m27Zt/OMf/+DFF19kzZo1df7z7FLqb9Wq1UXVFxQUVO3DmlwuF8888wx/+MMfuOmmm5g8eTLvv/8+UPWhTkFBQRfVf3OfK2MMo0aNYurUqbX273A4rP+fnSdjDN26dePNN988533qO58RERG8+OKLLFmyhLCwMGbOnElaWhpw8fPZHOfymmuuoUWLFmzatImZM2dWC/2UlBSef/55evbsyVtvvcVHH31k7fvmvPh8Ph599FEmTZpE9+7d61xjy5YtazzxTZw4ke985zt06tSJefPm0b17d/r16wdUPUm2bNmyzv2f1WRfvfNNn332GT6fj3bt2jFw4EBWrVplrX95PB6OHz9+3vu2bt2ajh078t577wFVD7r//Oc/Fzxe//79Wbt2LSdOnADg5MmT1fa3adOGkJAQtm/fDlSt8f7gBz/gzJkzHDlyhP79+/Ob3/yG4uJiSkpKLnXYF1X/+Wr6tq5du/LFF19Yt/fv3w9UnaX26tWLr7/+2tqXl5dHt27dLqre5j5XP/rRj1i3bp01jpMnT3L48GGg6qx93bp1AOe9FvL9738fr9drhU1FRYU1B99ud/jwYWuuLjSf+fn51u19+/YB0KJFC3r16lVtnfhi57O5zmVycjLTpk2rduYOcPr0aa655hoqKipYs2bNee+/ePFievToQXx8vLWtX79+1n0OHDjAkSNH6NKlS7X7fe9737N+VwDrLyKA8PBwwsLC6jVfZzXZM/3S0lJGjBgBVP3CPP300zidTgYOHMhnn31mnXEEBwezaNEiAgLO//y2aNEi5syZwwsvvEBlZSVxcXHV/uz6tm7duvGrX/2KcePGERAQwA033MCCBQuqtXn66aetC0qdOnXiqaeewufzMW3aNE6dOoUxhvvuu6/ahbCztm/fbo0N4Ne//jU33nhjves/V03fdvvttzN9+nTr9oYNG3j88cfxeDysW7eOmTNnWvu2bt3KHXfccd66zmrOc/VtERERTJkyhV/84hecOXOGq666ilmzZnH99dcTHBzM7t27eeGFFwgNDWXp0qU17h8YGEhqairz5s2juLgYn8/Hz3/+8xoP7qCgIJ566ikefvhh60Luz372sxr93XHHHbzxxhskJSUB8Ne//pX//Oc/HDlyhPfff58ZM2ZYbesyn3aYy5tvvvmc2x9++GGSkpIIDQ0lKiqqWgB/0x//+Ee6detm/ZySk5MZO3Ysc+bMYdiwYTidTp566qkaF92Dg4Pp1KkTX3zxBZ07d+bYsWNMmzaN48eP8/LLL9OnTx9rSemrr74iKCio2tJfnV30VQBp9h566CHrAttZ57rwN3bsWHPy5MnLVJVcqrvvvrvGxctvz2dZWZlJSkqq90sOpX7Wr19vnn322WrbVq1aVeNC7muvvWZWrFhxScdoFss74l9Tp07l2LFj1badvTh2ltfrZcKECTVe8ilXnpSUFL788stq2749n19++SVTp069+Jf/iV+53W7rwvpZkZGRNf4yadOmDaNGjbqkY+hLVEREbERn+iIiNqLQFxGxEYW+iIiNKPRFRGxEoS8iYiP/B5h6Im/rODwzAAAAAElFTkSuQmCC\n",
      "text/plain": [
       "<Figure size 432x288 with 1 Axes>"
      ]
     },
     "metadata": {},
     "output_type": "display_data"
    }
   ],
   "source": [
    "sns.set_style(\"whitegrid\")\n",
    "sns.boxplot(data=df_2)"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "28484f54",
   "metadata": {},
   "source": [
    "No presenta outliers"
   ]
  },
  {
   "cell_type": "markdown",
   "id": "6bb424c8",
   "metadata": {},
   "source": [
    "*Creado por:*\n",
    "\n",
    "*Isabel Maniega*"
   ]
  }
 ],
 "metadata": {
  "hide_input": false,
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.8.10"
  },
  "vscode": {
   "interpreter": {
    "hash": "916dbcbb3f70747c44a77c7bcd40155683ae19c65e1c03b4aa3499c5328201f1"
   }
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}